

<span  *ngIf="row2">

    <tr>
        <td colspan="4">
           <table  class="table"   width="100%">
<tr>
<th>Renewal Type</th>
<th>Renewal Due Date</th>
<th>Certificate</th>
<th>Power Of Attorney</th>
</tr>


 <tr *ngFor="let val of row2 " >




   <td> {{val.renewalType }}</td>

   <td> {{val.renewalDueDate|date}}</td>


   <td>  <a *ngIf="val.certificateOfTrademark  " target="_blank" href="{{filepath}}Upload/{{val.certificateOfTrademark}}">View</a></td>


   <td><a  *ngIf="val.powerOfAttorney "  target="_blank" href="{{filepath}}Upload/{{val.powerOfAttorney}}">View</a> </td>
 </tr>
</table>                                                  </td>
     </tr>



</span>
