<div id="print-section">

<div id="searchform">
    <table align="center" width="800px">
    <tr id="cert">
    <td>

<table align="center">

  <tr>
      <td width="800px" colspan="2" align="center">
          <img src="assets/coat_of_arms.png" style="width: 120px; height: 120px" />
      </td>
  </tr>

  <tr>
      <td width="1000px" colspan="2" align="center" style="font-family:Arial Black; font-size:22px;">
          NIGERIA</td>
  </tr>
  <tr>
      <td width="800px" colspan="2" align="center">
          <strong>

              <img src="assets/logo3.png" height="60" width="450" /><br />
      <span style="font-family:Arial Black; font-size:20px;">Trade Marks Act</span><br />
       <span style="font-family:'Trebuchet MS'; font-size:12px;">CAP 436 Laws Of The Federation Of Nigeria 1990; Section 22 (3) Regulation 65)</span>
      </strong>
      </td>
  </tr>

  <tr *ngIf="vshow">

    <td *ngIf="row2.logo_pic" >

        <img src="http://5.77.54.44/EinaoCldRevamp2/Upload/{{row2.logo_pic}}" >

    </td>

    <td *ngIf="!row2.logo_pic" >
        NO DEVICE!!
    </td>
</tr>





  <tr>
      <td  colspan="2"
          style="text-align:left; font-weight:bold;font-family: Segoe UI; font-size:12px;">
         The Trade Marks shown above has been registered in Part A (Or B)
      </td>
  </tr>
   <tr>
      <td  colspan="2"
          style="text-align:left; font-weight:bold;font-family: Segoe UI; font-size:12px;">
         Of the register in the name of
      </td>
  </tr>
   <tr>
      <td  colspan="2"
          style="text-align:center; font-weight:normal;font-family: Segoe UI Symbol; font-size:18px;">
         <strong> {{row2.applicantName  }}</strong></td>
  </tr>
   <tr>
      <td colspan="2"
          style="text-align:center; font-weight:bold;font-family: Segoe UI Symbol; font-size:12px;" class="auto-style1">
         <br /> {{row2.applicantAddress }} </td>
  </tr>
   <tr>
      <td colspan="2"
          style="text-align:center; font-weight:bold;font-family: Segoe UI Symbol; font-size:12px;">
          In Class {{row2.applicationclass}}  under No. -{{row2.transactionid  }} as Of Date {{row2.filingDate|date}} in Respect Of </td>
  </tr>
   <tr>
      <td colspan="2"
          style="text-align:center; font-weight:normal;font-family: Segoe UI Symbol; font-size:9px;">
   {{row2.classdescription   }}
        </td>
  </tr>

   <tr>
      <td colspan="2"
          style="text-align:center; font-weight:normal;font-family: Segoe UI Symbol; font-size:14px;">
          &nbsp;</td>
  </tr>



  <tr>
      <td align="left" style="font-family: Garamond; font-size:14px;">
          <strong>
      Sealed at my direction this date {{this.todaydate | date }}<br />
      The Trade Marks Registry, <br />
      Federal Ministry of Industry, Trade and Investment	<br />
      Federal Capital Territory<br />
      Abuja, Nigeria.
       </strong>
      </td>
     <td align="right">
         <strong>&nbsp;&nbsp; </strong>
</td>
  </tr>


  <tr>
      <td align="left">
          &nbsp;</td>
     <td style="font-family: Garamond; font-size:16px; font-weight:bold; text-align:right;">
         <div id="tx">
          <ngx-qrcode
          [qrc-element-type]="elementType"
          [qrc-value] = "value"
          qrc-class = "aclass"
          qrc-errorCorrectionLevel = "L">
    </ngx-qrcode>
        <img src="assets/Nkiru.jpg" style=" width: 222px;;height: 83px;vertical-align:bottom" />
             </div>


<hr  style="background-color:#1C5E55; height:1px;"/>
Shafiu Adamu Yauri<br />
Registrar Of Trademarks
</td>
  </tr>
  <tr>
      <td style="background-color:#1C5E55; color:#ffffff; text-align:center; font-weight:normal; font-size:16px; font-family:Calibri;"
          colspan="2">
          Registration is 7 years from the date first above – mentioned, and may then
be renewed, and also at the Expiration of each period of 14 years thereafter.</td>
  </tr>
   <tr>
      <td style="background-color:#1C5E55;text-align:center; font-weight:normal; "
          colspan="2"></td>
  </tr>
  <tr>
      <td colspan="2" style="font-family: Garamond; font-size:12px; font-weight:normal; text-align:center;">
          <br />
          This certificate is not for use in legal proceeding or for obtaining Registration
abroad. NOTE- Upon any change of ownership of this Trade mark, or change in
address, application should AT ONCE be made to the Registrar to register the change .
          <br />
      </td>
  </tr>

</table>

</td>
</tr>


</table>

</div>
</div>
<br/>
<div class="align-items-center justify-content-center row" >

  <button type="submit"  (click) ="print()"  class="btn btn-info">Print </button>

</div>

