<div class="main-wrapper">
  <!-- ============================================================== -->
  <!-- Preloader - style you can find in spinners.css -->
  <!-- ============================================================== -->

  <!-- ============================================================== -->
  <!-- Preloader - style you can find in spinners.css -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <!-- Login box.scss -->
  <!-- ============================================================== -->

  <div class="auth-wrapper d-flex no-block justify-content-center align-items-center" style="background:url(assets/images/auth-bg.jpg) no-repeat center center;">

    <div class="auth-box on-sidebar">
          <div id="loginform">
              <div class="logo">
                  <span class="db"><img src="assets/images/cldlogo.png" alt="logo" /></span>
                  <p></p>
                  <h5 class="font-medium m-b-20">Forget  Password</h5>
                  <alert *ngIf="showerror" type="danger">{{messages}}</alert>
                  <ngx-spinner> <p style="font-size: 20px; color: white">Please Wait...</p></ngx-spinner>
              </div>
              <!-- Form -->
              <div class="row m-t-20">
                  <div class="col-12 ">
                    <form class="form-horizontal m-t-20" id="loginform" name="form"  #f="ngForm" novalidate>


                      <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon2"><i class="ti-pencil btn-success"></i></span>
                        </div>
                        <input type="password" class="form-control form-control-lg" id="password22a" name="password22a" #password22a="ngModel"  [(ngModel)]="account.password"  [ngClass]="{ 'is-invalid': submitted && password22a.invalid }" placeholder="New Password"  required aria-label="Password" aria-describedby="basic-addon1">


                      </div>


                      <div class="input-group mb-3">

                        <ng2-password-strength-bar
                        [passwordToCheck]="account.password"
                        [barLabel]="barLabel"
                        [barColors]="myColors">
                    </ng2-password-strength-bar>
                        </div>

                      <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon2"><i class="ti-pencil btn-success"></i></span>
                        </div>
                        <input type="password" class="form-control form-control-lg" required  name="password23" [(ngModel)]="account.confirmpasword"  #password23="ngModel"  [ngClass]="{ 'is-invalid': submitted && password23.invalid }"   placeholder="Confirm  Password"   aria-label="Password2" aria-describedby="basic-addon1">


                      </div>

                      <div class="form-group text-center">
                          <div class="col-xs-12 p-b-20">
                              <button type="button"  (click) ="onSubmit(f.form.valid)"  class="btn btn-block btn-lg btn-success" >Submit</button>
                          </div>
                      </div>

                      <div class="form-group m-b-0 m-t-10 ">
                        <div class="col-sm-12 text-center ">
                            <a href="#/login"   class="text-info m-l-5 "><b>Back To Login Screen</b></a>
                        </div>
                    </div>

                  </form>


                  </div>
              </div>
          </div>

      </div>
  </div>

</div>

