
<div [ngBusy]="busy"></div>
<div id="report" class="pp" >
<table  id="pp8" class="form">
    <tr>
        <td colspan="2" align="center" width="1000px">
            <strong>FEDERAL MINISTRY OF TRADE AND INVESTMENT<br />
                COMMERCIAL LAW DEPARTMENT<br />
                INDUSTRIAL PROPERTY OFFICE REGISTRY </strong>
        </td>
    </tr>
    <tr>
        <td width="1000px" colspan="2" align="center"
            >
            <span style="vertical-align: top; padding-bottom:30px;"  align="center"><img alt=""  src="assets/images/Imagelogo.png"  width="130" height="130"  /></span>
        </td>
    </tr>

            <tr id="aa2"   >

                <td colspan="2" align="center" width="1000px" style="padding: 2px">

                    <strong>

                    ACCEPTANCE LETTER
                    </strong>
                    &nbsp;



                </td>

            </tr>



    <tr>
        <td align="right" colspan="2">&nbsp;</td>
    </tr>

    <tr>
        <td align="center" style="width: 50%"> <strong>FILLING/APPLICATION DATE: </strong>
        </td>
        <td align="center" style="width: 50%"> <strong>REGISTRATION NUMBER:  </strong>

        </td>
    </tr>

    <tr>
        <td align="center" style="width: 50%">{{row2.application.dateCreated|date}}</td>
        <td  align="center" style="width: 50%"> {{row2.markinfo.registrationNumber}}</td>
    </tr>

    <tr>
        <td align="right" colspan="2" >
            &nbsp;</td>

            </tr>

    <tr>
        <td align="center" >
            <strong>ONLINE APPLICATION ID: </strong></td>
              <td align="center" >
            <strong> </strong>
           </td>

            </tr>

    <tr>
        <td align="center" >
            OAI/TM/ {{row2.application.transactionID}}
            </td>
              <td align="center" >
                  </td>

            </tr>

    <tr>
        <td align="right" colspan="2" >
            &nbsp;</td>

            </tr>
            <tr>
        <td style="background-color:#1C5E55; color:#ffffff; text-align:center; font-weight:bold;"
                    colspan="2">
            --- APPLICANT INFORMATION ---</td>
            </tr>
            <tr>
        <td align="center" colspan="2">
            &nbsp;</td>
            </tr>
            <tr>
        <td align="center" colspan="2">
             <strong>APPLICANT NAME: </strong></td>
            </tr>
            <tr>
        <td align="center" colspan="2">

          {{row2.applicationUser.firstName  }}   {{row2.applicationUser.lastName  }}
          </td>
            </tr>
            <tr>
        <td align="right" colspan="2">
            &nbsp;</td>
            </tr>
            <tr>
        <td align="center" colspan="2">
             <strong>ADDRESS: </strong></td>
            </tr>
            <tr>
        <td align="center" colspan="2">
            {{row2.applicationUser.residentialAddress }}
           </td>
            </tr>
             <tr>
        <td align="right" colspan="2" >
            &nbsp;</td>

            </tr>
            <tr>
        <td align="center" >
             <strong>PHONE NUMBER: </strong>

        </td>

        <td align="center">
             <strong>E-MAIL: </strong></td>
            </tr>
            <tr>
        <td align="center" >
            {{row2.applicationUser.mobileNumber }}
            </td>

        <td align="center">
            {{row2.applicationUser.userName  }}   </td>
            </tr>
     <tr>
        <td align="center" colspan="2" >
            &nbsp;</td>

            </tr>
     <tr>
        <td align="center" colspan="2" >
            <strong>DISCLAIMER</strong></td>

            </tr>
     <tr>
        <td align="center" colspan="2" >
           </td>

            </tr>
    <tr>
        <td colspan="2" align="center">
             <strong>TRADEMARK: </strong> &nbsp;</td>
    </tr>
    <tr>
        <td align="center" colspan="2" >
            {{row2.markinfo.productTitle  }}         </td>
            </tr>
             <tr>
        <td align="center" colspan="2">
            &nbsp;
        </td>
    </tr>
    <tr *ngIf="vshow">
        <td align="center" colspan="2">

          <span *ngIf=row2.markinfo.logoPicture>
              <img [src]=vimage  style=" height: 320px;">

          </span>

          <span *ngIf=!row2.markinfo.logoPicture>

NO DEVICE
            </span>

        </td>
    </tr>
    <tr>
        <td align="center" colspan="2">
            &nbsp;
        </td>
    </tr>
    <tr>
        <td align="right">
            &nbsp; <strong>CLASS SPECIFICATION OF GOODS/SERVICES: </strong>&nbsp;&nbsp;
        </td>
        <td>
            {{row2.markinfo.nationClassID }}
        </td>
    </tr>
     <tr>
        <td align="right" colspan="2" >
            &nbsp;</td>

            </tr>
    <tr>
        <td align="center" colspan="2">
            <strong>CLASS SPECIFICATION OF GOODS/SERVICES DESCRIPTION: </strong>
            </td>
    </tr>
    <tr>
        <td align="center" colspan="2">
         &nbsp;</td>
    </tr>
    <tr>
        <td align="center" colspan="2">
            {{row2.markinfo.niceClassDescription }}       </td>
    </tr>
   <tr>
        <td align="right" colspan="2" >
            &nbsp;</td>

            </tr>
    <tr>
        <td style="background-color:#1C5E55; color:#ffffff; text-align:center; font-weight:bold;"
            colspan="2" align="center">
        &nbsp;
            </td>
    </tr>

    <tr>
      <td align="center" colspan="4"><strong>Your Trademark has been accepted and will be published/advertised in accordance with the Trademarks Act <br />

          <br />
            <img alt="Nkiru" src="assets/Nkiru.jpg" style=" width: 100px;height: 50px;" />
          <br />
          <br />
          Ogunbanjo A. Temitope (FOR THE REGISTRAR)</strong></td>

  </tr>

    <tr >
        <td colspan="2">
            &nbsp;</td>
    </tr>

    <tr>
        <td align="center" colspan="2">

            <br />

            <ngx-qrcode
          [qrc-element-type]="elementType"
          [qrc-value] = "value"
          qrc-class = "aclass"
          qrc-errorCorrectionLevel = "L">
    </ngx-qrcode>



        </td>
    </tr>
     <tr>
        <td align="center" colspan="2">
            &nbsp;
        </td>
    </tr>
</table>
</div>
