<div class="page-breadcrumb">
  <div class="row">
      <div class="col-5 align-self-center">
          <h4 class="page-title">All Trademark Application</h4>
          <div class="d-flex align-items-center">
          </div>
      </div>
      <div class="col-7 align-self-center">
          <div class="d-flex no-block justify-content-end align-items-center">
              <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                      <li class="breadcrumb-item">
                          <a href="#">Home</a>
                      </li>
                      <li class="breadcrumb-item active" aria-current="page">Trademark Application</li>
                  </ol>
              </nav>
          </div>
      </div>
  </div>
</div>
<!-- ============================================================== -->
<!-- End Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Container fluid  -->
<!-- ============================================================== -->
<div class="container-fluid">
  <!-- ============================================================== -->
  <!-- Start Page Content -->
  <!-- ============================================================== -->
  <div class="row">


      <!-- Column -->
      <div class="col-lg-12 col-xl-12 col-md-12">
          <div class="card">
              <div class="card-body">
                  <div class="d-flex no-block align-items-center m-b-30">
                      <h4 class="card-title">Trademark Application</h4>
                      <div [ngBusy]="busy"></div>

                      <ngx-spinner> <p style="font-size: 20px; color: white">Please Wait...</p></ngx-spinner>

                  </div>
<br/>


                  <div class="table-responsive">
                      <table id="myTable" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-bordered nowrap display">
                          <thead>
                              <tr>
                                <th>SN</th>
                                <th>OAI NO</th>
                                  <th>FILING DATE</th>
                                  <th>FILE NO.</th>
                                 <th>APPLICANT NAME </th>
                                 <th>PRODUCT TITLE </th>
                                 <th>CLASS </th>
                                 <th>STATUS </th>
                                 <th>OFFICE </th>
                                 <th> </th>


                              </tr>
                            </thead>
                            <tbody>

                                <tr *ngFor="let emp of rows  let i = index">

                                  <td>{{i + 1}}</td>
                                  <td>{{emp.transactionid}}</td>
                                     <td>{{emp.filingDate|date}}</td>
                                      <td>{{emp.filenumber}}</td>
                                      <td>{{emp.applicantName}}</td>
                                      <td>{{emp.productTitle}}</td>
                                      <td>{{emp.applicationclass}}</td>
                                      <td>{{emp.status}}</td>
                                      <td>{{emp.datastatus}}</td>

                                      <td>
                                        <button type="button" id="openModalButton" (click) ="showcountry(emp)"  class="btn btn-success ">Details </button>



                                   </td>



                                    </tr>
                                  </tbody>
                      </table>
                  </div>
              </div>
          </div>
      </div>
      <!-- Column -->

  </div>

</div>

<!-- Create Modal -->
<div class="modal fade" id="createmodel" tabindex="-1" role="dialog" aria-labelledby="createModalLabel" aria-hidden="true">
  <div class="modal-dialog  modal-xl" role="document">
      <div class="modal-content">
               <div class="card-body wizard-content">
                      <div class="modal-header">
                              <h5 class="modal-title" id="createModalLabel"><i class="ti-marker-alt m-r-10"></i> Data Details</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                              </button>
                          </div>

                          <table  class="table form"   width="100%" >


                           <tr>
                                <td width="22%" colspan="2" class="tbbg" align="center">
                                    <strong>DATA DETAILS FOR {{row2.productTitle}}</strong></td>
                            </tr>
                             <tr>
                                <td >
                                    &nbsp;FILLING/APPLICATION DATE :&nbsp;&nbsp;
                                </td>
                                <td>
                                    {{row2.filingDate|date}}
                                   &nbsp;
                                </td>
                            </tr>
                            <tr>
                                <td >
                                    REGISTRATION NUMBER :&nbsp;&nbsp;
                                </td>
                                <td>
                                    {{row2.filenumber}}
                                </td>
                            </tr>
                             <tr>
                                <td >
                                    SYSTEM APPLICATION NUMBER:</td>
                                <td>
                                    OAI/TM/{{row2.transactionid}}
                                    </td>
                            </tr>
                            <tr>
                                <td >
                                    NAME :
                                </td>
                                <td> {{row2.applicantName}}</td>
                            </tr>





                            <tr>
                                <td >
                                    TELEPHONE:</td>
                                <td>{{row2.phonenumber}}</td>
                            </tr>
                            <tr>
                                <td >
                                    E-MAIL:</td>
                                <td>{{row2.email}}</td>
                            </tr>
                            <tr>
                                <td class="tbbg" colspan="2" align="center">
                                    --- TRADEMARK INFORMATION --- </td>
                            </tr>
                           <tr>
                                <td >
                                    &nbsp;TRADEMARK TYPE :&nbsp;
                                </td>
                                <td>
                                    {{row2.trademarktype}}
                                </td>
                            </tr>
                            <tr>
                                <td >
                                    LOGO DESCRIPTION :&nbsp;
                                </td>
                                <td>
                                    {{row2.applicationclass}}
                                </td>
                            </tr>
                            <tr>
                                <td >
                                    &nbsp;TRADEMARK :&nbsp;&nbsp;
                                </td>
                                <td>
                                    {{row2.productTitle}}
                                </td>
                            </tr>
                             <tr>
                                <td >
                                    &nbsp;DESCRIPTION OF SPECIFICATION OF GOODS/SERVICES :&nbsp;&nbsp;
                                </td>
                                <td >
                                    {{row2.classdescription}}</td>
                            </tr>

                            <tr>
                              <td class="tbbg" colspan="2" align="center">
                                  ---Previous Comments ---</td>
                          </tr>


                          <tr>

                            <td colspan="2"  align="center" >
                              <table>


                                  <app-comments [vrow2]=row4></app-comments>

                              </table>

                            </td>
                        </tr>

                            <tr>
                                <td class="tbbg" colspan="2" align="center">
                                    --- PAYMENT INFORMATION ---</td>
                            </tr>
                                    <tr>
                                        <td >
                                            TRANSACTION ID :
                                        </td>
                                        <td  >
                                            {{row2.transactionid}}
                                        </td>
                                    </tr>


                            <tr>
                                <td class="tbbg" colspan="2" align="center">
                                    --- SUPPORTING DOCUMENTS ---</td>
                            </tr>


                            <tr *ngIf="vshow">
                                <td  *ngIf="row2.logo_pic ">
                                     IMAGE:
                                </td>
                                <td *ngIf="row2.logo_pic" >
                                    <a href="http://5.77.54.44/EinaoCldRevamp2/Upload/{{row2.logo_pic}}">View</a>
                                </td>
                            </tr>
                            <tr *ngIf="vshow">
                                <td  *ngIf="row2.auth_doc ">
                                    AUTHORIZATION:
                                </td>
                                <td *ngIf="row2.auth_doc " >
                                    <a href="http://5.77.54.44/EinaoCldRevamp2/Upload/{{row2.auth_doc}}">View</a>
                                </td>
                            </tr>
                            <tr *ngIf=" vshow">
                                <td  *ngIf="row2.sup_doc1 ">
                                    DOCUMENT 1:
                                </td>
                                <td *ngIf="row2.sup_doc1 " >
                                    <a href="http://5.77.54.44/EinaoCldRevamp2/Upload/{{row2.sup_doc1}}">View</a>
                                </td>
                            </tr>
                            <tr *ngIf="vshow">
                                <td *ngIf="row2.sup_doc2 " >
                                    DOCUMENT&nbsp; 2:
                                </td>
                                <td  *ngIf="row2.sup_doc2 "  >
                                    <a href="http://5.77.54.44/EinaoCldRevamp2/Upload/{{row2.sup_doc2}}">View</a>
                                </td>
                            </tr>




                        </table>

  </div>
          <form>


              <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                         <div [ngBusy]="busy"></div>
                        </div>
          </form>
      </div>
  </div>
</div>















