



<div id="report" class="pp" >

    <table class="form">

        <tr>
            <td colspan="2" align="center" width="1100px">
              <strong> FEDERAL MINISTRY OF TRADE AND INVESTMENT<br />
      COMMERCIAL LAW DEPARTMENT,
      INDUSTRIAL PROPERTY OFFICE REGISTRY
      </strong>
            </td>
        </tr>


        <tr>
            <td width="1100px" colspan="2" align="center" bgcolor="#006600">
                <img alt="" src="assets/coat_of_arms.png" style="width: 80px; height: 80px" /></td>
        </tr>
    </table>

    <h4>Order Status Notification</h4>

    <p>
        <br />
        Your {{row.description}} ₦{{row.amount| number:'.2-2'}} order  was successful.
        <br />
        Your transaction id is {{row.transactionid}}. The details of the order are shown below:
        <br />
        <br />
    </p>

    <table border="0" cellpadding="0"  class="form">
        <tbody>
          <tr>
            <td>
                <p>
                    <strong>Order :</strong>
                </p>
            </td>
            <td>
                <p>
                    {{row.description}}
                </p>
            </td>
        </tr>


            <tr>
                <td>
                    <p>
                        <strong>Order Date:</strong>
                    </p>
                </td>
                <td>
                    <p>
                        {{vdate| date}}
                    </p>
                </td>
            </tr>


            <tr>
                <td>
                    <p>
                        <strong>Payment Ref:</strong>
                    </p>
                </td>
                <td>
                    <p>
                        {{row.paymentref}}
                    </p>
                </td>
            </tr>


            <tr>
                <td>
                    <p>
                        <strong>RRR Number:</strong>
                    </p>
                </td>
                <td>
                    <p>
                        {{rrr}}
                    </p>
                </td>
            </tr>


            <tr>
                <td>
                    <p>
                        <strong>Transaction Amount:</strong>
                    </p>
                </td>
                <td>
                    <p>
                        {{row.amount| number:'.2-2'}}
                    </p>
                </td>
            </tr>







        </tbody>
    </table>

<table   class="form" *ngIf="vshow" >



    <tr>
      <td colspan="2">&nbsp;</td>
  </tr>


  <tr>
    <td width="50%" align="right">
        &nbsp;FILLING/APPLICATION DATE :             </td>
    <td width="50%">

       {{row2.application.dateCreated|date}}</td>
</tr>

<tr>
  <td align="center">
     REGISTRATION NUMBER : </td>
  <td align="center">
    ONLINE APPLICATION ID :</td>
</tr>

<tr>
  <td align="center">
     {{row2.markinfo.registrationNumber}}</td>
  <td align="center">
    {{row2.application.transactionID}}</td>
</tr>

<tr>
  <td colspan="2">&nbsp;</td>
</tr>
<tr>
  <td style="background-color:#1C5E55; color:#ffffff; text-align:center; font-weight:bold;"
      colspan="2">
      --- AGENT/APPLICANT INFORMATION ---</td>
</tr>


<tr>
  <td colspan="2">&nbsp;</td>
</tr>
<tr>
  <td align="center" colspan="2">
      APPLICANT NAME:</td>
</tr>

<tr>
  <td align="center" colspan="2">
    {{row2.applicationUser.firstName  }} - {{row2.applicationUser.lastName  }}</td>
</tr>

<tr>
  <td align="center" colspan="2">
      &nbsp;</td>
</tr>
<tr>
  <td align="center" colspan="2">
      ADDRESS :</td>
</tr>

<tr>
  <td align="center" colspan="2">
    {{row2.applicationUser.residentialAddress  }} </td>
</tr>


<tr>
  <td align="center">
      PHONE NUMBER :
  </td>
      <td align="center">
      E-MAILS :
         </td>
</tr>

<tr>
  <td align="center">
    {{row2.applicationUser.mobileNumber  }}</td>
      <td align="center">
        {{row2.applicationUser.userName  }}</td>
</tr>
<tr>
  <td align="center" colspan="2">
      &nbsp;</td>
</tr>

<tr>
  <td colspan="2"
      style="background-color:#1C5E55; color:#ffffff; text-align:center; font-weight:bold;">
      --- TRADEMARK INFORMATION --- </td>
</tr>
 <tr>
  <td colspan="2">&nbsp;</td>
</tr>
<tr>
  <td align="center" colspan="2">
      &nbsp;&nbsp;TRADEMARK :</td>
</tr>

<tr>
  <td align="center" colspan="2">
    {{row2.markinfo.productTitle}}</td>
</tr>
<tr>
  <td align="center" colspan="2">
      &nbsp;</td>
</tr>

<tr>
  <td align="center" colspan="2">
      &nbsp;</td>
</tr>
<tr>
  <td align="center" colspan="2">
                      &nbsp; SPECIFICATION OF GOODS/SERVICES DESCRIPTION : </td>

</tr>
<tr>
  <td align="center" colspan="2">
    {{row2.markinfo.logo_descriptionID}}
                      </td>
</tr>




     <tr>
      <td colspan="2">&nbsp;</td>
  </tr>




  <tr>
      <td style="background-color:#1C5E55; color:#ffffff; text-align:center; font-weight:bold;"
          colspan="2"  >

          &nbsp;</td>
  </tr>
  <tr>
      <td  align="center" colspan="2">
         <br />
       <strong>Your application has been received and is receiving due attention</strong><br />
       <strong>REGISTRAR
          (COMMERCIAL LAW DEPARTMENT NIGERIA)</strong> <br />
          <ngx-qrcode
          [qrc-element-type]="elementType"
          [qrc-value] = "value"
          qrc-class = "aclass"
          qrc-errorCorrectionLevel = "L">
    </ngx-qrcode>
        </td>
  </tr>



</table>

</div>
