<!DOCTYPE html>
<html>
<head lang="en">
    <title>Special - @ViewBag.Title</title>
    <meta charset="utf-8">
    <meta name="theme-color" content="#ffffff">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="robots" content="noindex, follow">

    <link href="~/dist/app.css" rel="stylesheet" type="text/css" />
    <link rel="icon" href="~/favicon.ico" type="image/x-icon" />
    <link href="~/dist/overrides.css" rel="stylesheet" type="text/css" />
</head>
<body>

    @RenderBody()


    <script src="~/dist/vendor.js"></script>
    <script src="~/dist/app.js"></script>
</body>
</html>

