@model IPORevamp.WebAPI.Models.VerifyEmailViewModel;
@{
    ViewData["Title"] = "Email Verification Page";
}

<div id="verifyEmail">Code: @Model.Code </div>
<div id="verifyEmail">UserId: @Model.UserId </div>