<div class="page-breadcrumb">
  <div class="row">
      <div class="col-5 align-self-center">
          <h4 class="page-title"></h4>
          <div class="d-flex align-items-center">

          </div>
      </div>
      <div class="col-7 align-self-center">
          <div class="d-flex no-block justify-content-end align-items-center">
              <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                      <li class="breadcrumb-item">
                          <a href="#/home">Home</a>
                      </li>
                      <li class="breadcrumb-item active" aria-current="page">Menu Setup</li>
                  </ol>
              </nav>
          </div>
      </div>
  </div>
</div>

<!-- ============================================================== -->
<!-- End Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Container fluid  -->
<!-- ============================================================== -->
<div class="container-fluid">
  <div class="container">

      <ng-template #template>
          <div class="modal-header">
            <h4 class="modal-title pull-left">Modal</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            This is a modal.
          </div>
        </ng-template>


  <form class="form-horizontal" [formGroup]="userform" role="form" >
      <div class="row">
          <div class="col-md-3"></div>
          <div class="col-md-6">

              <h2>Create Menu </h2>
              <div [ngBusy]="busy"></div>

              <ngx-spinner> <p style="font-size: 20px; color: white">Please Wait...</p></ngx-spinner>
              <hr>
          </div>
      </div>

      <div class="row">
        <div class="col-md-3 field-label-responsive d-flex justify-content-end">
            <label for="email">Name</label>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <div class="input-group mb-2 mr-sm-2 mb-sm-0">

                    <input type="text" name="name"  formControlName="Code" [ngClass]="{ 'is-invalid': submitted && Code.errors }"   class="form-control" id="name"
                           placeholder="Name" required autofocus>


                           <div *ngIf="submitted && Code.errors" class="invalid-feedback">
                            <div *ngIf="submitted && Code.errors.required">Name is required</div>

                          </div>

                </div>
            </div>
        </div>

    </div>
      <div class="row">
          <div class="col-md-3 field-label-responsive d-flex justify-content-end">
              <label for="email">Icon </label>
          </div>
          <div class="col-md-6">
              <div class="form-group">
                  <div class="input-group mb-2 mr-sm-2 mb-sm-0">

                      <input type="text" name="name"   formControlName="Description" [ngClass]="{ 'is-invalid': submitted && Description.errors }"     class="form-control" id="name"
                             placeholder="Description" required autofocus>


                             <div *ngIf="submitted && Description.errors" class="invalid-feedback">
                              <div *ngIf="submitted && Description.errors.required">Icon is required</div>

                            </div>


                  </div>
              </div>
          </div>

      </div>


      <div class="row">
        <div class="col-md-3 field-label-responsive d-flex justify-content-end">
            <label for="email">Url </label>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <div class="input-group mb-2 mr-sm-2 mb-sm-0">

                    <input type="text" name="name"   formControlName="Description" [ngClass]="{ 'is-invalid': submitted && Description.errors }"     class="form-control" id="name"
                           placeholder="Description" required autofocus>


                           <div *ngIf="submitted && Description.errors" class="invalid-feedback">
                            <div *ngIf="submitted && Description.errors.required">Url is required</div>

                          </div>


                </div>
            </div>
        </div>

    </div>



    <div class="row">
      <div class="col-md-3 field-label-responsive d-flex justify-content-end">
          <label for="email">Parent </label>
      </div>
      <div class="col-md-6">
          <div class="form-group">
              <div class="input-group mb-2 mr-sm-2 mb-sm-0">

                  <input type="text" name="name"   formControlName="Description" [ngClass]="{ 'is-invalid': submitted && Description.errors }"     class="form-control" id="name"
                         placeholder="Description" required autofocus>

                         <button type="button"  (click) ="openModal(template)"   class="btn btn-success">  Select Parent</button>


                         <div *ngIf="submitted && Description.errors" class="invalid-feedback">
                          <div *ngIf="submitted && Description.errors.required">Parent is required</div>

                        </div>


              </div>
          </div>
      </div>

  </div>























      <div class="row">
          <div class="col-md-3"></div>
          <div class="col-md-6" >
              <button type="button" [@enterAnimation] *ngIf="savemode" (click) ="onSubmit()"   class="btn btn-success"> <i class="fa fa-check"></i> Submit</button>
              <button type="button" [@enterAnimation] *ngIf="updatemode" (click) ="onSubmit4()"   class="btn btn-success"> <i class="fa fa-check"></i> Update</button>
              <button type="button"  (click) ="onSubmit2()" class="btn btn-danger">Cancel</button>

          </div>



      </div>



  </form>
  <br/>
  <br/>





</div>




</div>
<!-- ============================================================== -->
<!-- End Container fluid  -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- footer -->
<!-- ============================================================== -->



