<div class="page-breadcrumb">
  <div class="row">
      <div class="col-5 align-self-center">
          <h4 class="page-title">User Management </h4>
          <div class="d-flex align-items-center">
          </div>
      </div>
      <div class="col-7 align-self-center">
          <div class="d-flex no-block justify-content-end align-items-center">
              <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                      <li class="breadcrumb-item">
                          <a href="#">Home</a>
                      </li>
                      <li class="breadcrumb-item active" aria-current="page">User Management </li>
                  </ol>
              </nav>
          </div>
      </div>
  </div>
</div>
<!-- ============================================================== -->
<!-- End Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Container fluid  -->
<!-- ============================================================== -->
<div class="container-fluid">
  <!-- ============================================================== -->
  <!-- Start Page Content -->
  <!-- ============================================================== -->
  <div class="row">


      <!-- Column -->
      <div class="col-lg-12 col-xl-12 col-md-12">
          <div class="card">
              <div class="card-body">
                  <div class="d-flex no-block align-items-center m-b-30">
                      <h4 class="card-title">User Management </h4>
                      <div [ngBusy]="busy"></div>

                      <ngx-spinner> <p style="font-size: 20px; color: white">Please Wait...</p></ngx-spinner>
                      <div class="ml-auto">
                          <div class="btn-group">
                              <button type="button" class="btn btn-dark" data-toggle="modal"  (click) ="showcountry2()" >
                                Create User
                              </button>
                          </div>
                      </div>
                  </div>

                  <br/>




                  <div class="table-responsive">
                      <table id="myTable" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-bordered nowrap display">
                          <thead>
                              <tr>
                                  <th>Firstname</th>
                                  <th>Lastname</th>
                                  <th>PhoneNumber</th>
                                  <th>Username</th>

                                  <th>Role</th>



                                  <th>DateCreated</th>

                                  <th> Action</th>


                              </tr>
                            </thead>
                            <tbody>

                                <tr *ngFor="let emp of row3  let i = index">
                                    <td>{{emp.firstName}}</td>

                                     <td>{{emp.lastName}}</td>
                                     <td>{{emp.mobileNumber}}</td>
                                     <td>{{emp.email}}</td>

                                     <td>{{getrole2(emp.rolesId)}}</td>

                                      <td>{{emp.dateCreated|date}}</td>

                                      <td>
                                          <button type="button" id="openModalButton" (click) ="showcountry(emp)"  class="btn btn-success btn-circle"><i class="fa fa-edit"></i> </button>
                                             <button type="button" (click) ="onSubmit5(emp)"   class="btn btn-danger btn-circle" data-toggle="tooltip" data-original-title="Delete"><i class="fa fa-trash"></i> </button>


                                     </td>



                                    </tr>
                                  </tbody>
                      </table>
                  </div>
              </div>
          </div>
      </div>
      <!-- Column -->

  </div>

</div>
 <!--Create Modal 2 -->
<div class="modal fade" id="createmodel2" tabindex="-1" role="dialog" aria-labelledby="createModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
                 <div class="card-body wizard-content">
                        <div class="modal-header">
                                <h5 class="modal-title" id="createModalLabel"><i class="ti-marker-alt m-r-10"></i> Update  User</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <form class="form-horizontal" [formGroup]="userform2" role="form" >
                              <div class="row">
                                  <div class="col-md-3"></div>
                                  <div class="col-md-6">

                                      <h2>Update User </h2>
                                      <div [ngBusy]="busy"></div>

                                      <ngx-spinner> <p style="font-size: 20px; color: white">Please Wait...</p></ngx-spinner>
                                      <hr>
                                  </div>
                              </div>

                              <div class="row">
                                <div class="col-md-3 field-label-responsive d-flex justify-content-end">
                                    <label for="email">First Name</label>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="input-group mb-2 mr-sm-2 mb-sm-0">

                                            <input type="text" name="firstname2"  formControlName="Firstname2" [ngClass]="{ 'is-invalid': submitted2 && Firstname2.errors }"   class="form-control" id="firstname"
                                                   placeholder="First Name" required autofocus>




                                        </div>
                                    </div>
                                </div>

                            </div>
                              <div class="row">
                                  <div class="col-md-3 field-label-responsive d-flex justify-content-end">
                                      <label for="email">Last Name </label>
                                  </div>
                                  <div class="col-md-6">
                                      <div class="form-group">
                                          <div class="input-group mb-2 mr-sm-2 mb-sm-0">

                                              <input type="text" name="Lastname2"   formControlName="Lastname2" [ngClass]="{ 'is-invalid': submitted2 && Lastname2.errors }"     class="form-control" id="name"
                                                     placeholder="Last Name"  autofocus>



                                          </div>
                                      </div>
                                  </div>

                              </div>




                            <div class="row">
                              <div class="col-md-3 field-label-responsive d-flex justify-content-end">
                                  <label for="email">Phone Number </label>
                              </div>
                              <div class="col-md-6">
                                  <div class="form-group">
                                      <div class="input-group mb-2 mr-sm-2 mb-sm-0">

                                          <input type="text" name="phonenumber2"   formControlName="MobileNumber2" [ngClass]="{ 'is-invalid': submitted2 && MobileNumber2.errors }"     class="form-control" id="name"
                                                 placeholder="Phone Number "  autofocus>





                                      </div>
                                  </div>
                              </div>

                          </div>

                          <div class="row">
                            <div class="col-md-3 field-label-responsive d-flex justify-content-end">
                                <label for="email">Occupation </label>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">

                                        <input type="text" name="occupation2"   formControlName="Occupation2" [ngClass]="{ 'is-invalid': submitted2 && Occupation2.errors }"     class="form-control" id="name"
                                               placeholder="Occupation "  autofocus>





                                    </div>
                                </div>
                            </div>

                        </div>



                        <div class="row">
                          <div class="col-md-3 field-label-responsive d-flex justify-content-end">
                              <label for="email">Staff ID</label>
                          </div>
                          <div class="col-md-6">
                              <div class="form-group">
                                  <div class="input-group mb-2 mr-sm-2 mb-sm-0">

                                      <input type="text" name="staff2"   formControlName="StaffId2" [ngClass]="{ 'is-invalid': submitted2 && StaffId2.errors }"     class="form-control" id="name"
                                             placeholder="Staff ID"  autofocus>




                                  </div>
                              </div>
                          </div>

                      </div>


                        <div class="row">
                          <div class="col-md-3 field-label-responsive d-flex justify-content-end">
                              <label for="email">Gender </label>
                          </div>
                          <div class="col-md-6">
                              <div class="form-group">
                                  <div class="input-group mb-2 mr-sm-2 mb-sm-0">

                                    <select name="Gender2" formControlName="Gender2" [ngClass]="{ 'is-invalid': submitted2 && Gender2.errors }"     class="form-control">
                                      <option value=""> --Select Gender--</option>
                                      <option value="0">Male</option>
                                        <option value="1">Female</option>
                                    </select>





                                  </div>
                              </div>
                          </div>

                      </div>


                      <div class="row">
                        <div class="col-md-3 field-label-responsive d-flex justify-content-end">
                            <label for="email">Street</label>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="input-group mb-2 mr-sm-2 mb-sm-0">

                                    <input type="text" name="street2"   formControlName="Street2" [ngClass]="{ 'is-invalid': submitted2 && Street2.errors }"     class="form-control" id="street"
                                           placeholder="Street"  autofocus>




                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="row">
                      <div class="col-md-3 field-label-responsive d-flex justify-content-end">
                          <label for="email">City</label>
                      </div>
                      <div class="col-md-6">
                          <div class="form-group">
                              <div class="input-group mb-2 mr-sm-2 mb-sm-0">

                                  <input type="text" name="city2"   formControlName="City2" [ngClass]="{ 'is-invalid': submitted2 && City2.errors }"     class="form-control" id="city"
                                         placeholder="City"  autofocus>




                              </div>
                          </div>
                      </div>

                  </div>

                  <div class="row">
                    <div class="col-md-3 field-label-responsive d-flex justify-content-end">
                        <label for="email">Post Code</label>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="input-group mb-2 mr-sm-2 mb-sm-0">

                                <input type="text" name="postcode2"   formControlName="Postal2" [ngClass]="{ 'is-invalid': submitted2 && Postal2.errors }"     class="form-control" id="name"
                                       placeholder="Post Code"  autofocus>




                            </div>
                        </div>
                    </div>

                </div>


                        <div class="row">
                          <div class="col-md-3 field-label-responsive d-flex justify-content-end">
                              <label for="email">Country </label>
                          </div>
                          <div class="col-md-6">
                              <div class="form-group">
                                  <div class="input-group mb-2 mr-sm-2 mb-sm-0">

                                    <select   name="Country2"  formControlName="Country2"  [ngClass]="{ 'is-invalid': submitted2 && Country2.errors }"       class="custom-select form-control-lg "    id="country">
                                      <option  value= "">
                                        --Select Country--
                                        </option>
                                      <option *ngFor="let country2 of rows" value= {{country2.id}}>
                                        {{country2.name}}
                                      </option>
                                    </select>





                                  </div>
                              </div>
                          </div>

                      </div>



                      <div class="row">
                        <div class="col-md-3 field-label-responsive d-flex justify-content-end">
                            <label for="email">State </label>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="input-group mb-2 mr-sm-2 mb-sm-0">

                                  <select   name="state2"  formControlName="State2"  [ngClass]="{ 'is-invalid': submitted2 && State2.errors }"      class="custom-select form-control-lg "    id="state">
                                    <option  value= "">
                                      --Select State--
                                      </option>
                                    <option *ngFor="let country2 of row2" value= {{country2.id}}>
                                      {{country2.stateName}}
                                    </option>
                                  </select>





                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="row">
                      <div class="col-md-3 field-label-responsive d-flex justify-content-end">
                          <label for="email">Ministry </label>
                      </div>
                      <div class="col-md-6">
                          <div class="form-group">
                              <div class="input-group mb-2 mr-sm-2 mb-sm-0">

                                <select   name="ministry2"  formControlName="Ministry2"   [ngClass]="{ 'is-invalid': submitted2 && Ministry2.errors }"    class="custom-select form-control-lg "    id="state">
                                  <option  value= "">
                                    --Select Ministry--
                                    </option>
                                  <option *ngFor="let country2 of row8" value= {{country2.id}}>
                                    {{country2.description}}
                                  </option>
                                </select>





                              </div>
                          </div>
                      </div>

                  </div>

                  <div class="row">
                    <div class="col-md-3 field-label-responsive d-flex justify-content-end">
                        <label for="email">Department </label>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="input-group mb-2 mr-sm-2 mb-sm-0">

                              <select   name="department2"  formControlName="Department2"  [ngClass]="{ 'is-invalid': submitted2 && Department2.errors }"     class="custom-select form-control-lg "    id="department">
                                <option  value= "">
                                  --Select Department--
                                  </option>
                                <option *ngFor="let country2 of row9" value= {{country2.id}}>
                                  {{country2.name}}
                                </option>
                              </select>





                            </div>
                        </div>
                    </div>

                </div>

                <div class="row">
                  <div class="col-md-3 field-label-responsive d-flex justify-content-end">
                      <label for="email">Unit </label>
                  </div>
                  <div class="col-md-6">
                      <div class="form-group">
                          <div class="input-group mb-2 mr-sm-2 mb-sm-0">

                            <select   name="unit2"  formControlName="Unit2"  [ngClass]="{ 'is-invalid': submitted2 && Unit2.errors }" class="custom-select form-control-lg "    >
                              <option  value= "">
                                --Select Unit--
                                </option>
                              <option *ngFor="let country2 of row7" value= {{country2.id}}>
                                {{country2.description}}
                              </option>
                            </select>





                          </div>
                      </div>
                  </div>

              </div>






                            <div class="row">
                              <div class="col-md-3 field-label-responsive d-flex justify-content-end">
                                  <label for="email">Role </label>
                              </div>
                              <div class="col-md-6">
                                  <div class="form-group">
                                      <div class="input-group mb-2 mr-sm-2 mb-sm-0">


                                          <select class="form-control" name ="role2"   formControlName="Role2"  [ngClass]="{ 'is-invalid': submitted2 && Role2.errors }"     >
                                              <option value="">---- --Select Role-----</option>


                                              <option *ngFor="let country2 of row5" value= {{country2.roleId}}>
                                                {{country2.title}}
                                              </option>
                                          </select>



                                      </div>
                                  </div>
                              </div>

                          </div>






























                          </form>
    </div>
            <form>


                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button"  (click) ="onSubmit4()" class="btn btn-success"><i class="ti-save"></i> Update</button>

                </div>
            </form>
        </div>
    </div>
  </div>

<!-- Create Modal -->
<div class="modal fade" id="createmodel" tabindex="-1" role="dialog" aria-labelledby="createModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
               <div class="card-body wizard-content">
                      <div class="modal-header">
                              <h5 class="modal-title" id="createModalLabel"><i class="ti-marker-alt m-r-10"></i> Create New Staff</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                              </button>
                          </div>
      <form action="#"  [formGroup]="userform" >
        <span class="tab-wizard wizard-circle">
          <!-- Step 1 -->
          <h6>Personal Info</h6>
          <section>
                  <div class="modal-body">
                          <div class="container-fluid">



                      <div class="input-group mb-3">
                          <button type="button" class="btn btn-success"><i class="ti-user text-white"></i></button>
                          <input type="text"   formControlName="Firstname" [ngClass]="{ 'is-invalid': submitted && Firstname.errors }" class="form-control" placeholder="Enter  Firstname Here" aria-label="name">
                          <div *ngIf="submitted && Firstname.errors" class="invalid-feedback">
                            <div *ngIf="submitted && Firstname.errors.required">Firstname is required</div>

                          </div>

                        </div>

                      <div class="input-group mb-3">
                        <button type="button" class="btn btn-success"><i class="ti-user text-white"></i></button>
                        <input type="text"   formControlName="Lastname" [ngClass]="{ 'is-invalid': submitted && Lastname.errors }" class="form-control" placeholder="Enter  Lastname Here" aria-label="name">
                        <div *ngIf="submitted && Lastname.errors" class="invalid-feedback">
                          <div *ngIf="submitted && Lastname.errors.required">Lastname is required</div>

                        </div>

                      </div>
                      <div class="input-group mb-3">
                          <button type="button" class="btn btn-success"><i class="ti-more text-white"></i></button>
                          <input type="text" class="form-control"  formControlName="MobileNumber" [ngClass]="{ 'is-invalid': submitted && MobileNumber.errors }" placeholder="Enter Mobile Number Here" aria-label="no">
                          <div *ngIf="submitted && MobileNumber.errors" class="invalid-feedback">
                            <div *ngIf="submitted && MobileNumber.errors.required">Mobile Number is required</div>

                          </div>

                        </div>
                      <div class="input-group mb-3">
                              <button type="button" class="btn btn-success"><i class="ti-settings text-white"></i></button>

                              <select  formControlName="Gender"  [ngClass]="{ 'is-invalid': submitted && Gender.errors }" class="form-control custom-select">
                                <option value=""> --Select Gender--</option>
                                <option value="Male">Male</option>
                                  <option value="Female">Female</option>
                              </select>
                              <div *ngIf="submitted && Gender.errors" class="invalid-feedback">
                                <div *ngIf="submitted && Gender.errors.required">Gender is required</div>

                              </div>

                            </div>

                            <div class="input-group mb-3">
                                <button type="button" class="btn btn-success"><i class="ti-more text-white"></i></button>
                                <input type="text" class="form-control"  formControlName="StaffId" [ngClass]="{ 'is-invalid': submitted && StaffId.errors }" placeholder="Staff Id No" aria-label="no">
                                <div *ngIf="submitted && StaffId.errors" class="invalid-feedback">
                                  <div *ngIf="submitted && StaffId.errors.required">StaffId is required</div>

                                </div>

                              </div>


                              <div class="input-group mb-3">
                                      <button type="button" class="btn btn-success"><i class="ti-settings text-white"></i></button>
                                      <input type="text"  (change)="valuechange($event)" formControlName="Email"  [ngClass]="{ 'is-invalid': submitted && Email.errors }" class="form-control"  placeholder="Email" aria-label="no">
                                      <div *ngIf="submitted && Email.errors" class="invalid-feedback">
                                        <div *ngIf="submitted && Email.errors.required">Email is required</div>

                                      </div>
                                      </div>
                      </div>
                  </div>






          </section>

          <!-- Step 2 -->
          <h6>Contact Address</h6>
          <section>

              <div class="input-group mb-3">
                  <button type="button" class="btn btn-success"><i class="ti-settings text-white"></i></button>


                  <select   formControlName="Ministry"  [ngClass]="{ 'is-invalid': submitted && Ministry.errors }" class="form-control custom-select">
                    <option value=""> --Select your Ministry--</option>
                    <option *ngFor="let country2 of row8" value= {{country2.id}}>
                        {{country2.description}}
                      </option>

                  </select>

                  <div *ngIf="submitted && Ministry.errors" class="invalid-feedback">
                    <div *ngIf="submitted && Ministry.errors.required">Ministry is required</div>

                  </div>

              </div>

              <div class="input-group mb-3">
                  <button type="button" class="btn btn-success"><i class="ti-settings text-white"></i></button>


                  <select   formControlName="Department"  [ngClass]="{ 'is-invalid': submitted && Department.errors }" class="form-control custom-select">
                    <option value=""> --Select your Department--</option>
                    <option *ngFor="let country2 of row9" value= {{country2.id}}>
                        {{country2.name}}
                      </option>

                  </select>

                  <div *ngIf="submitted && Unit.errors" class="invalid-feedback">
                    <div *ngIf="submitted && Department.errors.required">Department is required</div>

                  </div>

              </div>

                          <div class="input-group mb-3">
                                  <button type="button" class="btn btn-success"><i class="ti-settings text-white"></i></button>


                                  <select   formControlName="Unit"  [ngClass]="{ 'is-invalid': submitted && Unit.errors }" class="form-control custom-select">
                                    <option value=""> --Select your Unit--</option>
                                    <option *ngFor="let country2 of row7" value= {{country2.id}}>
                                        {{country2.description}}
                                      </option>

                                  </select>



                                  <div *ngIf="submitted && Unit.errors" class="invalid-feedback">
                                    <div *ngIf="submitted && Unit.errors.required">Unit is required</div>

                                  </div>

                              </div>

                              <div class="row">
                                      <div class="col-md-12 ">
                                          <div class="form-group">
                                              <label>Street</label>
                                              <input  formControlName="Street"  [ngClass]="{ 'is-invalid': submitted && Street.errors }" type="text" placeholder="Street" class="form-control">
                                          </div>
                                      </div>

                                      <div *ngIf="submitted && Street.errors" class="invalid-feedback">
                                        <div *ngIf="submitted && Street.errors.required">Street is required</div>

                                      </div>
                                  </div>
                                  <div class="row">
                                      <div class="col-md-6">
                                          <div class="form-group">
                                              <label>City</label>
                                              <input type="text"  formControlName="City"  [ngClass]="{ 'is-invalid': submitted && City.errors }"  placeholder="City" class="form-control">
                                          </div>

                                      <div *ngIf="submitted && City.errors" class="invalid-feedback">
                                        <div *ngIf="submitted && City.errors.required">City is required</div>

                                      </div>
                                      </div>
                                      <!--/span-->
                                      <div class="col-md-6">
                                          <div class="form-group">
                                              <label>State</label>

                                              <select   name="Identification"  formControlName="State" [ngClass]="{ 'is-invalid': submitted && State.errors }"       class="custom-select form-control-lg "    id="Month">
                                                  <option  value= "">
                                                    --Select State--
                                                    </option>
                                                  <option *ngFor="let country2 of row2" value= {{country2.id}}>
                                                    {{country2.stateName}}
                                                  </option>
                                                </select>

                                            </div>

                                          <div *ngIf="submitted && State.errors" class="invalid-feedback">
                                            <div *ngIf="submitted && State.errors.required">State is required</div>

                                          </div>
                                      </div>
                                      <!--/span-->
                                  </div>
                                  <!--/row-->
                                  <div class="row">
                                      <div class="col-md-6">
                                          <div class="form-group">
                                              <label>Post Code</label>
                                              <input type="text" formControlName="Postal" placeholder="Postal Code" class="form-control">
                                          </div>
                                      </div>
                                      <!--/span-->
                                      <div class="col-md-6">
                                          <div class="form-group">
                                              <label>Country</label>

                                              <select   name="Identification"  formControlName="Country" [ngClass]="{ 'is-invalid': submitted && Country.errors }"       class="custom-select form-control-lg "    id="Month">
                                                  <option  value= "">
                                                    --Select Country--
                                                    </option>
                                                  <option *ngFor="let country2 of rows" value= {{country2.id}}>
                                                    {{country2.name}}
                                                  </option>
                                                </select>

                                          </div>

                                          <div *ngIf="submitted && Country.errors" class="invalid-feedback">
                                            <div *ngIf="submitted && Country.errors.required">Country is required</div>

                                          </div>
                                      </div>
                                      <!--/span-->
                                  </div>

          </section>
        </span>
      </form>
  </div>
          <form>


              <div class="modal-footer">
                  <button  type="button" id="cancel2"   class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="submit" id="save2"  (click) ="onSubmit()" class="btn btn-success"><i class="ti-save"></i> Save</button>
              </div>
          </form>
      </div>
  </div>
</div>



