<div class="page-breadcrumb">
  <div class="row">
      <div class="col-5 align-self-center">
          <h4 class="page-title">Audit Log</h4>
          <div class="d-flex align-items-center">
          </div>
      </div>
      <div class="col-7 align-self-center">
          <div class="d-flex no-block justify-content-end align-items-center">
              <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                      <li class="breadcrumb-item">
                          <a href="#">Home</a>
                      </li>
                      <li class="breadcrumb-item active" aria-current="page">Audit Log</li>
                  </ol>
              </nav>
          </div>
      </div>
  </div>
</div>
<!-- ============================================================== -->
<!-- End Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Container fluid  -->
<!-- ============================================================== -->
<div class="container-fluid">
  <!-- ============================================================== -->
  <!-- Start Page Content -->
  <!-- ============================================================== -->
  <div class="row">


      <!-- Column -->
      <div class="col-lg-12 col-xl-12 col-md-12">
          <div class="card">
              <div class="card-body">
                  <div class="d-flex no-block align-items-center m-b-30">
                      <h4 class="card-title">Audit Log</h4>
                      <div [ngBusy]="busy"></div>

                      <ngx-spinner> <p style="font-size: 20px; color: white">Please Wait...</p></ngx-spinner>
                      <div class="ml-auto">
                          <div class="btn-group">
                             <!--   <button type="button" class="btn btn-dark" data-toggle="modal"  (click) ="showcountry2()" >
                              Create Country
                              </button> -->
                          </div>
                      </div>
                  </div>

                  <br/>




                  <div class="table-responsive">
                      <table id="myTable" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-bordered nowrap display">
                          <thead>
                              <tr>
                                  <th>Description</th>
                                  <th>Created By</th>
                                  <th>Entity</th>
                                  <th>Entity</th>
                                  <th>UserName</th>

                              </tr>
                            </thead>
                            <tbody>

                                <tr *ngFor="let emp of rows  let i = index">
                                    <td>{{emp.description}}</td>

                                     <td>{{emp.createdBy}}</td>
                                     <td>{{emp.entity}}</td>
                                     <td>{{emp.userName}}</td>
                                      <td>{{emp.dateCreated|date}}</td>


                                    </tr>
                                  </tbody>
                      </table>
                  </div>
              </div>
          </div>
      </div>
      <!-- Column -->

  </div>

</div>

<!-- Create Modal -->
<div class="modal fade" id="createmodel" tabindex="-1" role="dialog" aria-labelledby="createModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
               <div class="card-body wizard-content">
                      <div class="modal-header">
                              <h5 class="modal-title" id="createModalLabel"><i class="ti-marker-alt m-r-10"></i> Create New Country</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                              </button>
                          </div>
                          <form class="form-horizontal" [formGroup]="userform" class="tab-wizard wizard-circle" role="form" >


                              <div class="row">
                                <div class="col-md-3 field-label-responsive d-flex justify-content-end">
                                    <label for="email">Code</label>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="input-group mb-2 mr-sm-2 mb-sm-0">

                                            <input type="text" name="name"  formControlName="Code" [ngClass]="{ 'is-invalid': submitted && Code.errors }"   class="form-control" id="name"
                                                   placeholder="Code" required autofocus>


                                                   <div *ngIf="submitted && Code.errors" class="invalid-feedback">
                                                    <div *ngIf="submitted && Code.errors.required">Code is required</div>

                                                  </div>

                                        </div>
                                    </div>
                                </div>

                            </div>
                              <div class="row">
                                  <div class="col-md-3 field-label-responsive d-flex justify-content-end">
                                      <label for="email">Name</label>
                                  </div>
                                  <div class="col-md-6">
                                      <div class="form-group">
                                          <div class="input-group mb-2 mr-sm-2 mb-sm-0">

                                              <input type="text" name="name"   formControlName="Description" [ngClass]="{ 'is-invalid': submitted && Description.errors }"     class="form-control" id="name"
                                                     placeholder="Name" required autofocus>


                                                     <div *ngIf="submitted && Description.errors" class="invalid-feedback">
                                                      <div *ngIf="submitted && Description.errors.required">Description is required</div>

                                                    </div>


                                          </div>
                                      </div>
                                  </div>

                              </div>



























                          </form>
  </div>
          <form>


              <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="button" *ngIf="savemode" (click) ="onSubmit()" class="btn btn-success"><i class="ti-save"></i> Save</button>
                  <button type="button" *ngIf="updatemode" (click) ="onSubmit4()"  class="btn btn-success"><i class="ti-save"></i> Update</button>
              </div>
          </form>
      </div>
  </div>
</div>


