<div class="main-wrapper">
  <!-- ============================================================== -->
  <!-- Preloader - style you can find in spinners.css -->
  <!-- ============================================================== -->

  <!-- ============================================================== -->
  <!-- Preloader - style you can find in spinners.css -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <!-- Login box.scss -->
  <!-- ============================================================== -->
  <div class="auth-wrapper d-flex no-block justify-content-center align-items-center" style="background:url(assets/images/auth-bg.jpg) no-repeat center center;">
      <div class="auth-box-reg">
          <div>
              <div class="logo-reg">

                  <span class="db"><img src="assets/images/cldlogo.png" alt="logo" /></span>
                 <p></p>
                <!--  <h5 class="font-medium m-b-20">Applicant / Individual</h5> -->
              </div>

          <div class="row">
                  <div class="col-lg-12">
                      <div class="card">
                          <div class="card-header bg-success">
                              <h4 class="mb-0 text-white">Applicant / Individual</h4>
                              <div [ngBusy]="busy"></div>
                              <ngx-spinner> <p style="font-size: 20px; color: white">Please Wait...</p></ngx-spinner>
                          </div>
                          <form class="form-horizontal m-t-10" action="verification.html"  [formGroup]="userform">
                              <div class="card-body">
                                  <h4 class="card-title">Person Info</h4>
                              </div>
                              <hr>
                              <div class="form-body">
                                  <div class="card-body">
                                      <div class="row pt-3">
                                          <div class="col-md-6">
                                              <div class="form-group">
                                                  <label class="control-label">First Name</label>
                                                  <input type="text" id="firstName" formControlName="FirstName" [ngClass]="{ 'is-invalid': submitted && FirstName.errors }" class="form-control" placeholder="John doe">

                                                </div>
                                          </div>
                                          <!--/span-->
                                          <div class="col-md-6">
                                              <div class="form-group has-danger">
                                                  <label class="control-label">Last Name</label>
                                                  <input type="text" formControlName="LastName" [ngClass]="{ 'is-invalid': submitted && LastName.errors }" id="lastName" class="form-control form-control-danger" placeholder="LastName">
                                                  </div>
                                          </div>
                                          <!--/span-->
                                      </div>
                                      <!--/row-->
                                      <div class="row">
                                          <div class="col-md-6">
                                              <div class="form-group has-success">
                                                  <label class="control-label">Gender</label>
                                                  <select formControlName="Gender" [ngClass]="{ 'is-invalid': submitted && Gender.errors }" class="form-control custom-select">
                                                    <option value=""> --Select Gender--</option>
                                                    <option value="Male">Male</option>
                                                      <option value="Female">Female</option>
                                                  </select>
                                                  <small class="form-control-feedback"> Select your gender </small> </div>
                                          </div>
                                          <!--/span-->
                                          <div class="col-md-6">
                                              <div class="form-group">
                                                  <label class="control-label">Date of Birth</label>
                                                  <input type="text" id="dateval" formControlName="DateofBirth"   [maxDate]="maxDate"  [ngClass]="{ 'is-invalid': submitted && DateofBirth.errors }" class="form-control" bsDatepicker [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }" >
                                              </div>
                                          </div>
                                          <!--/span-->
                                      </div>
                                      <!--/row-->
                                      <div class="row">
                                          <div class="col-md-6">
                                              <div class="form-group">
                                                  <label class="control-label">Means of Identification</label>


                                                  <select   name="Identification"  formControlName="MeansofIdentification" [ngClass]="{ 'is-invalid': submitted && MeansofIdentification.errors }"     class="custom-select form-control-lg"    id="Month">
                                                    <option  value= "">
                                                      --Select your Means of Identification--
                                                      </option>
                                                    <option *ngFor="let country2 of varray44" value= {{country2.YearCode}}>
                                                      {{country2.YearName}}
                                                    </option>
                                                  </select>
                                              </div>
                                          </div>
                                          <!--/span-->
                                          <div class="col-md-6"  >
                                            <div class="form-group has-danger">
                                                <label class="control-label">Identification Value</label>
                                                <input type="text" formControlName="IdentificationValue"  [ngClass]="{ 'is-invalid': submitted && IdentificationValue.errors }"  id="telnumber" class="form-control form-control-danger"   placeholder="Identification Value">
                                                </div>
                                        </div>
                                          <!--/span-->
                                      </div>

                                      <div class="row">

                                        <!--/span-->
                                        <div class="col-md-6">
                                                <div class="form-group has-danger"  >
                                                    <label class="control-label" >Mobile Number</label>

                                                    <international-phone-number   [ngClass]="{ 'is-invalid': submitted && MobileNumber.errors }" formControlName="MobileNumber"  placeholder="Enter phone number" [maxlength]="20" [defaultCountry]="'ng'" [required]="true" #phone_number   name="phone_number" ></international-phone-number>



                                                  </div>
                                            </div>
                                        <!--/span-->
                                    </div>
                                      <!--/row-->
                                      <h4 class="card-title mt-5">Address</h4>
                                  </div>
                                  <hr>
                                  <div class="card-body">
                                      <div class="row">
                                          <div class="col-md-12 ">
                                              <div class="form-group">
                                                  <label>Street</label>
                                                  <input placeholder="Street" formControlName="Street" [ngClass]="{ 'is-invalid': submitted && Street.errors }" type="text" class="form-control">
                                              </div>
                                          </div>
                                      </div>
                                      <div class="row">
                                          <div class="col-md-6">
                                              <div class="form-group">
                                                  <label>City</label>
                                                  <input type="text" formControlName="City" [ngClass]="{ 'is-invalid': submitted && City.errors }" placeholder="City" class="form-control">
                                              </div>
                                          </div>
                                          <!--/span-->

                                          <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Country</label>
                                                <select   name="Month" (change)="onChange($event)"  formControlName="Country" [ngClass]="{ 'is-invalid': submitted && Country.errors }"    class="custom-select form-control-lg"    id="Month">
                                                  <option  value= "">
                                                    --Select your Country--
                                                    </option>
                                                  <option *ngFor="let country2 of row" value= {{country2.id}}>
                                                    {{country2.name}}
                                                  </option>
                                                </select>
                                            </div>
                                        </div>
                                        <!--/span-->


                                          <!--/span-->
                                      </div>
                                      <!--/row-->
                                      <div class="row">
                                          <div class="col-md-6">
                                              <div class="form-group">
                                                  <label>Post Code</label>
                                                  <input type="text"  formControlName="PostCode" [ngClass]="{ 'is-invalid': submitted && PostCode.errors }" placeholder="Postal Code" class="form-control">
                                              </div>
                                          </div>
                                          <!--/span-->
                                          <div class="col-md-6">
                                            <div class="form-group">
                                                <label>State</label>

                                                <select   name="State" (change)="onChange2($event)"   formControlName="State" [ngClass]="{ 'is-invalid': submitted &&  State.errors }"    class="custom-select form-control-lg"    id="State">
                                                  <option  value= "">
                                                    --Select State--
                                                    </option>
                                                  <option *ngFor="let state2 of row2" value= {{state2.id}}>
                                                    {{state2.stateName}}
                                                  </option>
                                                </select>

                                              </div>
                                        </div>
                                          <!--/span-->
                                      </div>

                                      <div class="row">
                                          <div class="col-md-6">
                                              <div class="form-group">
                                                  <label>LGA</label>

                                                  <select   name="State"   formControlName="lga" [ngClass]="{ 'is-invalid': submitted &&  lga.errors }"    class="custom-select form-control-lg"    id="State">
                                                    <option  value= "">
                                                      --Select Lga--
                                                      </option>
                                                    <option *ngFor="let state2 of row4" value= {{state2.id}}>
                                                      {{state2.lgaName}}
                                                    </option>
                                                  </select>

                                                </div>
                                          </div>

                                        <div class="col-md-6 ">
                                            <div class="form-group">
                                                <label>Profile Picture</label>
                                                <input placeholder="Upload" #fileInput type="file" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                  </div>
                                  <div class="form-actions">
                                      <div class="card-body">

                                          <button type="button" (click) ="onSubmit()" class="btn btn-success"> <i class="fa fa-check"></i> Submit</button>
                                          <button type="button" (click) ="onSubmit2()" class="btn btn-danger">Cancel</button>
                                      </div>
                                  </div>
                              </div>
                          </form>
                      </div>
                  </div>
              </div>
              <!-- Row -->
          </div>
      </div>
  </div>
  <!-- ============================================================== -->
  <!-- Login box.scss -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <!-- Page wrapper scss in scafholding.scss -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <!-- Page wrapper scss in scafholding.scss -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <!-- Right Sidebar -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <!-- Right Sidebar -->
  <!-- ============================================================== -->
</div>
