<div class="page-breadcrumb">
  <div class="row">
      <div class="col-5 align-self-center">
          <h4 class="page-title">Fee List Setup</h4>
          <div class="d-flex align-items-center">
          </div>
      </div>
      <div class="col-7 align-self-center">
          <div class="d-flex no-block justify-content-end align-items-center">
              <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                      <li class="breadcrumb-item">
                          <a href="#">Home</a>
                      </li>
                      <li class="breadcrumb-item active" aria-current="page">Fee List Setup</li>
                  </ol>
              </nav>
          </div>
      </div>
  </div>
</div>
<!-- ============================================================== -->
<!-- End Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Container fluid  -->
<!-- ============================================================== -->
<div class="container-fluid">
  <!-- ============================================================== -->
  <!-- Start Page Content -->
  <!-- ============================================================== -->
  <div class="row">


      <!-- Column -->
      <div class="col-lg-12 col-xl-12 col-md-12">
          <div class="card">
              <div class="card-body">
                  <div class="d-flex no-block align-items-center m-b-30">
                      <h4 class="card-title">Fee List Setup</h4>
                      <div [ngBusy]="busy"></div>

                      <ngx-spinner> <p style="font-size: 20px; color: white">Please Wait...</p></ngx-spinner>
                      <div class="ml-auto">
                          <div class="btn-group">
                              <button type="button" class="btn btn-dark" data-toggle="modal"  (click) ="showcountry2()" >
                              Create Fee List
                              </button>
                          </div>
                      </div>
                  </div>

                  <br/>




                  <div class="table-responsive">
                      <table id="myTable" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-bordered nowrap display">
                          <thead>
                              <tr>
                                  <th>Item Code</th>
                                  <th>Description</th>
                                  <th>Qt Code</th>
                                  <th>Category</th>
                                  <th>Initial Amount</th>
                                  <th>Tech Amount</th>
                                 <th>Action </th>

                              </tr>
                            </thead>
                            <tbody>

                                <tr *ngFor="let emp of rows  let i = index">
                                    <td>{{emp.itemCode}}</td>

                                     <td>{{emp.description}}</td>
                                      <td>{{emp.qtCode}}</td>
                                      <td>{{emp.category}}</td>
                                      <td>{{emp.init_amt| number:'.2-2'}}</td>
                                      <td>{{emp.technologyFee| number:'.2-2'}}</td>

                                      <td>
                                        <button type="button" id="openModalButton" (click) ="showcountry(emp)"  class="btn btn-success btn-circle"><i class="fa fa-edit"></i> </button>
                                           <button type="button"  (click) ="onSubmit5(emp)"  class="btn btn-danger btn-circle" data-toggle="tooltip" data-original-title="Delete"><i class="fa fa-trash"></i> </button>


                                   </td>

                                    </tr>
                                  </tbody>
                      </table>
                  </div>
              </div>
          </div>
      </div>
      <!-- Column -->

  </div>

</div>

<!-- Create Modal -->
<div class="modal fade" id="createmodel" tabindex="-1" role="dialog" aria-labelledby="createModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
               <div class="card-body wizard-content">
                      <div class="modal-header">
                              <h5 class="modal-title" id="createModalLabel"><i class="ti-marker-alt m-r-10"></i> Create New Fee List</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                              </button>
                          </div>
                          <form class="form-horizontal" [formGroup]="userform" class="tab-wizard wizard-circle" role="form" >


                              <div class="row">
                                <div class="col-md-3 field-label-responsive d-flex justify-content-end">
                                    <label for="email">ItemCode</label>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="input-group mb-2 mr-sm-2 mb-sm-0">

                                            <input type="text" name="name" (change)="valuechange($event)"  formControlName="Code" [ngClass]="{ 'is-invalid': submitted && Code.errors }"   class="form-control" id="name"
                                                   placeholder="Code" required autofocus>


                                                   <div *ngIf="submitted && Code.errors" class="invalid-feedback">
                                                    <div *ngIf="submitted && Code.errors.required">ItemCode is required</div>

                                                  </div>

                                        </div>
                                    </div>
                                </div>

                            </div>
                              <div class="row">
                                  <div class="col-md-3 field-label-responsive d-flex justify-content-end">
                                      <label for="email">Description</label>
                                  </div>
                                  <div class="col-md-6">
                                      <div class="form-group">
                                          <div class="input-group mb-2 mr-sm-2 mb-sm-0">

                                              <input type="text" name="name"   formControlName="Description" [ngClass]="{ 'is-invalid': submitted && Description.errors }"     class="form-control" id="name"
                                                     placeholder="Description" required autofocus>


                                                     <div *ngIf="submitted && Description.errors" class="invalid-feedback">
                                                      <div *ngIf="submitted && Description.errors.required">Description is required</div>

                                                    </div>


                                          </div>
                                      </div>
                                  </div>

                              </div>


                              <div class="row">
                                <div class="col-md-3 field-label-responsive d-flex justify-content-end">
                                    <label for="email">Qt Code</label>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="input-group mb-2 mr-sm-2 mb-sm-0">

                                            <input type="text" name="name"   formControlName="QtCode" [ngClass]="{ 'is-invalid': submitted && QtCode.errors }"     class="form-control" id="name"
                                                   placeholder="QtCode" required autofocus>


                                                   <div *ngIf="submitted &&QtCode.errors" class="invalid-feedback">
                                                    <div *ngIf="submitted && QtCode.errors.required">QtCode is required</div>

                                                  </div>


                                        </div>
                                    </div>
                                </div>

                            </div>


                            <div class="row">
                              <div class="col-md-3 field-label-responsive d-flex justify-content-end">
                                  <label for="email">Category</label>
                              </div>
                              <div class="col-md-6">
                                  <div class="form-group">
                                      <div class="input-group mb-2 mr-sm-2 mb-sm-0">


                                                 <select   name="category"  formControlName="Category" [ngClass]="{ 'is-invalid': submitted && Category.errors }"     class="custom-select form-control-lg"    id="Month">
                                                  <option  value= "">
                                                    --Select Category--
                                                    </option>
                                                  <option *ngFor="let country2 of varray4" value= {{country2.YearCode}}>
                                                    {{country2.YearName}}
                                                  </option>
                                                </select>

                                                 <div *ngIf="submitted &&Category.errors" class="invalid-feedback">
                                                  <div *ngIf="submitted && Category.errors.required">Category is required</div>

                                                </div>


                                      </div>
                                  </div>
                              </div>

                          </div>


                          <div class="row">
                            <div class="col-md-3 field-label-responsive d-flex justify-content-end">
                                <label for="email">Initial Amount</label>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">

                                        <input type="number" name="name"   formControlName="InitAmount" [ngClass]="{ 'is-invalid': submitted && InitAmount.errors }"     class="form-control" id="name"
                                               placeholder="Initial Amount" required autofocus>


                                               <div *ngIf="submitted &&InitAmount.errors" class="invalid-feedback">
                                                <div *ngIf="submitted && InitAmount.errors.required">Initial Amount  is required</div>

                                              </div>


                                    </div>
                                </div>
                            </div>

                        </div>


                        <div class="row">
                          <div class="col-md-3 field-label-responsive d-flex justify-content-end">
                              <label for="email">Tech Amount</label>
                          </div>
                          <div class="col-md-6">
                              <div class="form-group">
                                  <div class="input-group mb-2 mr-sm-2 mb-sm-0">

                                      <input type="number" name="name"   formControlName="TechAmount" [ngClass]="{ 'is-invalid': submitted && TechAmount.errors }"     class="form-control" id="name"
                                             placeholder="Tech Amount" required autofocus>


                                             <div *ngIf="submitted &&TechAmount.errors" class="invalid-feedback">
                                              <div *ngIf="submitted && TechAmount.errors.required">Tech Amount  is required</div>

                                            </div>


                                  </div>
                              </div>
                          </div>

                      </div>



























                          </form>
  </div>
          <form>


              <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="button" *ngIf="savemode" (click) ="onSubmit()" class="btn btn-success"><i class="ti-save"></i> Save</button>
                  <button type="button" *ngIf="updatemode" (click) ="onSubmit4()"  class="btn btn-success"><i class="ti-save"></i> Update</button>
              </div>
          </form>
      </div>
  </div>
</div>



