
<div class="container">
    <div [ngBusy]="busy"></div>
    <div id="report" class="pp" >

      <table class="form">

          <tr>
              <td colspan="2" align="center" width="1100px">
                <strong> FEDERAL MINISTRY OF TRADE AND INVESTMENT<br />
        COMMERCIAL LAW DEPARTMENT,
        INDUSTRIAL PROPERTY OFFICE REGISTRY
        </strong>
              </td>
          </tr>


          <tr>
              <td width="1100px" colspan="2" align="center" bgcolor="#006600">
                  <img alt="" src="assets/coat_of_arms.png" style="width: 80px; height: 80px" /></td>
          </tr>
      </table>


      <div class="row p-2">
          <div class="col-md-6">
              <ngx-qrcode
              [qrc-element-type]="elementType"
              [qrc-value] = "value"
              qrc-class = "aclass"
              qrc-errorCorrectionLevel = "L">
        </ngx-qrcode>
          </div>

          <div class="col-md-6 text-right">
              <p class="font-weight-bold mb-1">Invoice #550</p>
              <p >Due to: {{vdate| date}}</p>
              <p >Remitta Retrival Number(RRR) : {{row.paymentref}}</p>
          </div>
      </div>
      <div class="row p-2">
  <p>

    NAME {{loggeduser}}
      <br />
    EMAIL  {{email}}

  </p>

  </div>

  <table border="0" cellpadding="0"  class="form">
      <tbody>
        <tr>
          <td>
              <p>
                  <strong>Order :</strong>
              </p>
          </td>
          <td>
              <p>
                  {{row.description}}
              </p>
          </td>
      </tr>


          <tr>
              <td>
                  <p>
                      <strong>Order Date:</strong>
                  </p>
              </td>
              <td>
                  <p>
                      {{vdate| date}}
                  </p>
              </td>
          </tr>


          <tr>
              <td>
                  <p>
                      <strong>Remitta RRR:</strong>
                  </p>
              </td>
              <td>
                  <p>
                      {{row.paymentref}}
                  </p>
              </td>
          </tr>


          <tr>
              <td>
                  <p>
                      <strong>Transaction Amount:</strong>
                  </p>
              </td>
              <td>
                  <p>
                      {{row.amount| number:'.2-2'}}
                  </p>
              </td>
          </tr>


          <tr>
            <td  align="center" colspan="2">


              </td>
        </tr>





      </tbody>
  </table>

  <br/>
  <br/>

  </div>

  <br/>
  <div class="align-items-center justify-content-center row" >



    <button type="submit"  (click) ="print()"  class="btn btn-info">Print </button> &nbsp;&nbsp;

    <form ngNoForm action="https://remitademo.net/remita/ecomm/finalize.reg"  *ngIf="vshow" name="SubmitRemitaForm"  method="POST">
      <input name="merchantId" value="{{row22.merchantId}}" type="hidden">
      <input name="hash" value="{{row22.hash}}" type="hidden">
      <input name="rrr" value="{{row22.rrr}}" type="hidden">
      <input name="responseurl" value="{{vfilepath}}Dashboard/Invoice2" type="hidden">

      <button  *ngIf="savemode"    type ="submit"  class="btn btn-info"><i class="fab fa-cc-Remita"></i> Pay with Remita</button>
      </form>



  </div>



  </div>

