<div class="page-breadcrumb">
  <div class="row">
      <div class="col-5 align-self-center">
          <h4 class="page-title"> Patent Registra </h4>
          <div class="d-flex align-items-center">
          </div>
      </div>
      <div class="col-7 align-self-center">
          <div class="d-flex no-block justify-content-end align-items-center">
              <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                      <li class="breadcrumb-item">
                          <a href="#">Home</a>
                      </li>
                      <li class="breadcrumb-item active" aria-current="page">Patent  Application</li>
                  </ol>
              </nav>
          </div>
      </div>
  </div>
</div>
<!-- ============================================================== -->
<!-- End Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Container fluid  -->
<!-- ============================================================== -->
<div class="container-fluid">
  <!-- ============================================================== -->
  <!-- Start Page Content -->
  <!-- ============================================================== -->
  <div class="row">


      <!-- Column -->
      <div class="col-lg-12 col-xl-12 col-md-12">
          <div class="card">
              <div class="card-body">
                  <div class="d-flex no-block align-items-center m-b-30">
                      <h4 class="card-title">Patent  Application</h4>
                      <div [ngBusy]="busy"></div>

                      <ngx-spinner> <p style="font-size: 20px; color: white">Please Wait...</p></ngx-spinner>

                  </div>
<br/>


                  <div class="table-responsive">
                      <table id="myTable" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-bordered nowrap display">
                          <thead>
                              <tr>
                                <th>SN</th>

                                  <th>FILING DATE</th>
                                  <th>FILE NO.</th>

                                 <th>TITLE OF INVENTION </th>
                                 <th>PATENT TYPE </th>
                                 <th>STATUS </th>

                                 <th> </th>


                              </tr>
                            </thead>
                            <tbody>

                                <tr *ngFor="let emp of rows  let i = index">

                                  <td>{{i + 1}}</td>

                                     <td>{{emp.filingDate|date}}</td>
                                      <td>{{emp.filenumber}}</td>

                                      <td>{{emp.titleOfInvention }}</td>
                                      <td>{{emp.patentType}}</td>
                                      <td>{{emp.status}}</td>


                                      <td>
                                        <button type="button" id="openModalButton" (click) ="showdetail(emp)"  class="btn btn-success ">Details </button>



                                   </td>



                                    </tr>
                                  </tbody>
                      </table>
                  </div>
              </div>
          </div>
      </div>
      <!-- Column -->

  </div>

</div>

<!-- Create Modal -->
<div class="modal fade" id="createmodel" tabindex="-1" role="dialog" aria-labelledby="createModalLabel" aria-hidden="true">
  <div class="modal-dialog  modal-xl" role="document">
      <div class="modal-content">
               <div class="card-body wizard-content">
                      <div class="modal-header">
                              <h5 class="modal-title" id="createModalLabel"><i class="ti-marker-alt m-r-10"></i> Data Details</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                              </button>
                          </div>


                          <div class="Container">
                              <app-patent-preview        [row2]=row2  [row3]=row3  [row5]=row5 [row6]=row6  [vshow] =vshow   [row4]=row4 [savemode] =savemode >     </app-patent-preview>


       </div>



  </div>
  <form>


    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit"  (click) ="onSubmit()"  class="btn btn-success"> Approve Certificate Payment </button>
        <button type="submit"  (click) ="onSubmit4()"  class="btn btn-success"> Delegate </button>

               <div [ngBusy]="busy"></div>
              </div>
</form>
      </div>
  </div>
</div>


<!-- Create Modal 2 -->
<div class="modal fade" id="createmodel2" tabindex="-1" role="dialog" aria-labelledby="createModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-full" role="document">
      <div class="modal-content">
               <div class="card-body wizard-content">
                      <div class="modal-header">
                              <h5 class="modal-title" id="createModalLabel"><i class="ti-marker-alt m-r-10"></i>Approve Certificate Payment</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                              </button>
                          </div>

                          <form name="form"  #f="ngForm" novalidate>

                          <table class="table text-center">
                              <tr>
                             <td>
                             Comments
                             </td>

                             <td>


                                <textarea rows="4" class="form-control" required [(ngModel)]="appcomment3"  name="classdescription2"      cols="30" placeholder="Comment">

                                  </textarea>



                               </td>

                              </tr>


                             </table>


                            </form>
  </div>


          <form>


              <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="submit"  (click) ="onSubmit5(f.form.valid)"  class="btn btn-success"><i class="ti-save"></i> Save</button>

              </div>
          </form>
      </div>
  </div>
</div>


<!-- Create Modal 3 -->
<div class="modal fade" id="createmodel3" tabindex="-1" role="dialog" aria-labelledby="createModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
               <div class="card-body wizard-content">
                      <div class="modal-header">
                              <h5 class="modal-title" id="createModalLabel"><i class="ti-marker-alt m-r-10"></i> Delegate </h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                              </button>
                          </div>
                          <form name="form"  #f="ngForm" novalidate>
<table class="table text-center"  >

  <tr>
      <td>
     Delegate To  User
      </td>

      <td>


          <select class="form-control"  name=users [(ngModel)]="appdescription" #device   (change)="onChange(device.value)"  id="sel1">
              <option value="">---- --Select User-----</option>


              <option *ngFor="let country2 of row7" value= {{country2.id}}>
                {{country2.firstName}} -  {{country2.email}}
              </option>
          </select>

      </td>

       </tr>
<tr>
<td>
Comments
</td>

<td>
  <textarea rows="4" required [(ngModel)]="appcomment2" id="classdescription" name="classdescription2"  cols="30" placeholder="Comment">

    </textarea>

</td>

</tr>>






</table>


</form>


  </div>
          <form>


              <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="submit"  (click) ="onSubmit2(f.form.valid)"  class="btn btn-success"><i class="ti-save"></i> Save</button>

              </div>
          </form>
      </div>
  </div>
</div>







