<div class="Container-fluid">
  <div class="row">
      <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 grid-size">
          <div style="background-color: #70AD47; color: #ffffff" class="grid-style" >
            <p class="d-flex justify-content-end">Total  Trade Mark Application</p>
            <h6 class="d-flex justify-content-end">{{trademarkcount| number}} </h6>

          </div>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 grid-size">
          <div class="grid-style" style="background-color: #ED7D31; color: #ffffff">
            <p class="d-flex justify-content-end">Total     Patents Application</p>
            <h6 class="d-flex justify-content-end">{{patentcount | number}}</h6>

          </div>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 grid-size">
          <div class="grid-style" style="background-color: #5B9BD5; color: white;">
            <p class="d-flex justify-content-end">Total    Design Application</p>
            <h6 class="d-flex justify-content-end">{{designcount| number}}</h6>

          </div>
      </div>

      <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 grid-size">
        <div class="grid-style" style="background-color: #EF4836; color: white;">
          <p class="d-flex justify-content-end">Total Trade Mark Kiv </p>
          <h6 class="d-flex justify-content-end">{{trademarkkivcount| number}}</h6>

        </div>
    </div>


  </div>
</div>
