<div class="card-group">
  <!-- Card -->

  <!-- Card -->
  <!-- Card -->

  <div class="card" >
      <div class="card-body">
          <div class="d-flex align-items-center">
              <div class="m-r-10">
                  <span class="btn btn-circle btn-lg btn-info">
                      <i class="ti-wallet text-white"></i>
                  </span>
              </div>
              <div>
                  &nbsp; Total  Trade Mark Application

              </div>
              <div class="ml-auto">
                  <h2 class="m-b-0 font-light">{{trademarkcount| number}}</h2>
              </div>
          </div>


      </div>
  </div>
  <!-- Card -->
  <!-- Card -->
  <div class="card" >
      <div class="card-body">
          <div class="d-flex align-items-center">
              <div class="m-r-10">
                  <span class="btn btn-circle btn-lg bg-success">
                      <i class="ti-wallet text-white"></i>
                  </span>
              </div>
              <div>
                  &nbsp; Total     Patents Application

              </div>
              <div class="ml-auto">
                  <h2 class="m-b-0 font-light">{{patentcount | number}}</h2>
              </div>
          </div>
      </div>
  </div>
  <!-- Card -->
  <!-- Card -->
  <div class="card w-100" >
      <div class="card-body">
          <div class="d-flex align-items-center">
              <div class="m-r-10">
                  <span class="btn btn-circle btn-lg bg-warning">
                      <i class="ti-wallet text-white"></i>
                  </span>
              </div>
              <div>
                  &nbsp;  Total    Design Application

              </div>
              <div class="ml-auto">
                  <h2 class="m-b-0 font-light">{{designcount| number}}</h2>
              </div>
          </div>
      </div>
  </div>
  <!-- Card -->
  <!-- Column -->





</div>
<!-- ============================================================== -->
<!-- Info box -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Email campaign chart -->
<!-- ============================================================== -->

<!-- ============================================================== -->
<!-- Email campaign chart -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Top Selliing Products -->
<!-- ============================================================== -->

<div class="card-group">
    <!-- Card -->

    <!-- Card -->
    <!-- Card -->

    <div class="card" >
        <div class="card-body">
            <div class="d-flex align-items-center">
                <div class="m-r-10">
                    <span class="btn btn-circle btn-lg btn-info">
                        <i class="ti-wallet text-white"></i>
                    </span>
                </div>
                <div>
                 &nbsp;Trade Mark Kiv Count

                </div>
                <div class="ml-auto">
                    <h2 class="m-b-0 font-light">{{trademarkkivcount| number}}</h2>
                </div>
            </div>


        </div>
    </div>

    <div class="card" >

        </div>

        <div class="card" >

            </div>

    <!-- Card -->
    <!-- Card -->

    <!-- Card -->
    <!-- Card -->

    <!-- Card -->
    <!-- Column -->





  </div>


  <form >

  <input type="hidden" id="custId" name="custId" value="{{randnumber}}">

</form>


