/* You can add global styles to this file, and also import other style files */


@import 'https://cdnjs.cloudflare.com/ajax/libs/jquery.perfect-scrollbar/0.6.10/css/perfect-scrollbar.min.css' ;

@import './assets/css/chartist.min.css';
@import './assets/css/c3.min.css';
@import './assets/css/morris.css';
@import './assets/css/busy.css';
@import './assets/font-awesome/css/font-awesome.min.css';






@import './assets/css/style.min.css';









.active2 {
  background: #4798e8 !important;
  border-radius: 60px 0 0 60px;
  padding: 0 0 0 10px;
  line-height: 25px;
}

select {
  -webkit-writing-mode: horizontal-tb !important;
  text-rendering: auto;

  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  -webkit-appearance: menulist;
  box-sizing: border-box;
  align-items: center;
  white-space: pre;
  -webkit-rtl-ordering: logical;
  background-color: white;
  cursor: default;
  margin: 0em;

  border-radius: 0px;

  border-image: initial;
}


.table-grid {
  width: 100%;
  border-collapse: collapse;
}

.table-grid>tbody>tr>th {
  padding: 0;
}

.table-grid>thead>tr>th,
.table-grid>tbody>tr>th,
.table-grid>tfoot>tr>th,
.table-grid>thead>tr>td,
.table-grid>tbody>tr>td,
.table-grid>tfoot>tr>td {
  border: 1px solid black;
}

.table-grid .table-grid td,
.table-grid .table-grid th {
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 0;
  border-left: 0;
}

.table-grid .table-grid td:last-child,
.table-grid .table-grid th:last-child {
  border-right: 0;
}


.form {width:100%; color:#509447; border-color:silver;border-style:solid; border-width:2px; }

.form table {
        border: 1px outset silver;
        width:1100px;

      }
	  .form table a{
         color: #fff;

      }
  .form th {
        border: 1px solid black;
        background-color: white;
        color: black;

}

  .form tr {
		border: 1px solid black;
        background-color: white;
        margin: 1px;
		color:black;

      }
   .form tr.striped {
		border: 1px outset white;
        background-color: #666;
		color: white;

      }
   .form tr.stripedout {
		border: 1px outset white;
        background-color: #fff;
		color: black;

      }
   .form tr.striped a{
		color: white;

      }

   .form td
{
border:1px solid black; padding: 1px 2px;
}

  .form  td.stripedoutx {
		  border: 0px outset white;

      }



.xtreme table {
        background-color: black;
        border: 1px white solid;
      }
	  .xtreme table a{
         color: #fff;

      }
  .xtreme th {
        border: 1px solid black;
        background-color: silver;
        color: black;
		font-weight:bold;
}

  .xtreme tr {
		border: 1px solid black;
        background-color: white;
        margin: 1px;
		color:black;

      }
   .xtreme tr.striped {
		border: 1px outset white;
        background-color: #666;
		color: white;

      }
   .xtreme tr.stripedout {
		border: 0px outset white;
        background-color: #fff;
		color: black;

      }
   .xtreme tr.striped a{
		color: white;

      }
    .xtreme tr.stripedout a{
		color: black;

      }
  .xtreme  td.stripedoutx {
		  border: 0px outset black;

      }


  .pp {

        margin: 0;
        font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #212529;
        text-align: left;

    }


    .pp2 {

      font-size: 1rem;
      font-weight: 400;


  }

    .grid-size {
      padding-bottom: 15px;
    }
    .grid-style {
      color: white;
      padding: 40px 30px 30px 0;
      margin: 15px 0 0 15px;
    }
    .sect-two{
      padding-bottom: 250px;
    }


    .bg-primary[_ngcontent-c0] {
      background-color: transparent!important;
  }

    @media print
{
    .no-print, .no-print *
    {
        display: none !important;
    }
}




