.form {width:100%; color:#509447; border-color:silver;border-style:solid; border-width:2px; }

.form table {
        border: 1px outset silver;

        font-size:12px;
      }
	  .form table a{
         color: #fff;
		 font-size:12px;
		 font-weight:bold;
      }
  .form th {
        border: 1px solid black;
        background-color: white;
        color: black;
		font-weight:bold;
}

  .form tr {
		border: 1px solid black;
        background-color: white;
        margin: 1px;
		color:black;
		font-size:12px;
      }
   .form tr.striped {
		border: 1px outset white;
        background-color: #666;
		color: white;
		font-size:12px;
      }
   .form tr.stripedout {
		border: 1px outset white;
        background-color: #fff;
		color: black;
		font-size:12px;
      }
   .form tr.striped a{
		color: white;
		font-size:12px;
      }

   .form td
{
border:1px solid black; padding: 1px 2px;
}

  .form  td.stripedoutx {
		  border: 0px outset white;
		  font-size:13px;
      }



.xtreme table {
        background-color: black;
        border: 1px white solid;
      }
	  .xtreme table a{
         color: #fff;
		 font-size:14px;
		 font-weight:bold;
      }
  .xtreme th {
        border: 1px solid black;
        background-color: silver;
        color: black;
		font-weight:bold;
}

  .xtreme tr {
		border: 1px solid black;
        background-color: white;
        margin: 1px;
		color:black;
		font-size:14px;
      }
   .xtreme tr.striped {
		border: 1px outset white;
        background-color: #666;
		color: white;
		font-size:14px;
      }
   .xtreme tr.stripedout {
		border: 0px outset white;
        background-color: #fff;
		color: black;
		font-size:14px;
      }
   .xtreme tr.striped a{
		color: white;
		font-size:14px;
      }
    .xtreme tr.stripedout a{
		color: black;
		font-size:14px;
      }
  .xtreme  td.stripedoutx {
		  border: 0px outset black;
		  font-size:13px;
      }


      table {
        border-collapse: collapse;
      }
      th, td {
        border: 1px solid black;
        padding: 10px;
        text-align: left;
      }
