<div class="table-responsive">
  <table id="myTable" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"  class="table table-bordered nowrap display">
      <thead>
          <tr>

              <th>Name</th>

              <th>Address</th>
              <th>PhoneNumber</th>
              <th>Email</th>
              <th>Nationality</th>



          </tr>
        </thead>
        <tbody>

            <tr *ngFor="let emp of invention  let i = index">


                 <td>{{emp.Name}}</td>

                  <td>{{emp.Address}}</td>
                  <td>{{emp.phonenumber}}</td>
                  <td>{{emp.Email}}</td>
                  <td>{{emp.Nationality}}</td>



                </tr>
              </tbody>
  </table>
</div>
