<div class="page-breadcrumb">
  <div class="row">
      <div class="col-5 align-self-center">
          <h4 class="page-title"></h4>
          <div class="d-flex align-items-center">

          </div>
      </div>
      <div class="col-7 align-self-center">
          <div class="d-flex no-block justify-content-end align-items-center">
              <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                      <li class="breadcrumb-item">
                          <a href="#/home">Home</a>
                      </li>
                      <li class="breadcrumb-item active" aria-current="page">Role Setup</li>
                  </ol>
              </nav>
          </div>
      </div>
  </div>
</div>

<!-- ============================================================== -->
<!-- End Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Container fluid  -->
<!-- ============================================================== -->
<div class="container-fluid">
  <div class="container">


  <form class="form-horizontal" [formGroup]="userform" role="form" >
      <div class="row">
          <div class="col-md-3"></div>
          <div class="col-md-6">

              <h2>Create Role </h2>
              <div [ngBusy]="busy"></div>

              <ngx-spinner> <p style="font-size: 20px; color: white">Please Wait...</p></ngx-spinner>
              <hr>
          </div>
      </div>

      <div class="row">
        <div class="col-md-3 field-label-responsive d-flex justify-content-end">
            <label for="email">Title</label>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <div class="input-group mb-2 mr-sm-2 mb-sm-0">

                    <input type="text" name="name"  formControlName="Code" [ngClass]="{ 'is-invalid': submitted && Code.errors }"   class="form-control" id="name"
                           placeholder="Title" required autofocus>


                           <div *ngIf="submitted && Code.errors" class="invalid-feedback">
                            <div *ngIf="submitted && Code.errors.required">Title is required</div>

                          </div>

                </div>
            </div>
        </div>

    </div>
      <div class="row">
          <div class="col-md-3 field-label-responsive d-flex justify-content-end">
              <label for="email">Description </label>
          </div>
          <div class="col-md-6">
              <div class="form-group">
                  <div class="input-group mb-2 mr-sm-2 mb-sm-0">

                      <input type="text" name="name"   formControlName="Description" [ngClass]="{ 'is-invalid': submitted && Description.errors }"     class="form-control" id="name"
                             placeholder="Description" required autofocus>


                             <div *ngIf="submitted && Description.errors" class="invalid-feedback">
                              <div *ngIf="submitted && Description.errors.required">Description is required</div>

                            </div>


                  </div>
              </div>
          </div>

      </div>























      <div class="row">
          <div class="col-md-3"></div>
          <div class="col-md-6" >
              <button type="button" [@enterAnimation] *ngIf="savemode" (click) ="onSubmit()"   class="btn btn-success"> <i class="fa fa-check"></i> Submit</button>
              <button type="button" [@enterAnimation] *ngIf="updatemode" (click) ="onSubmit4()"   class="btn btn-success"> <i class="fa fa-check"></i> Update</button>
              <button type="button"  (click) ="onSubmit2()" class="btn btn-danger">Cancel</button>

          </div>



      </div>



  </form>
  <br/>
  <br/>


  <table id="zero_config" class="table table-striped table-bordered">

    <thead>
<tr>
    <th>Code</th>
    <th>Name</th>
    <th>DateCreated</th>
   <th> </th>
   <th> </th>
</tr>
</thead>
<tbody>

  <tr *ngFor="let emp of rows  let i = index">
      <td>{{emp.code}}</td>

       <td>{{emp.name}}</td>
        <td>{{emp.dateCreated|date}}</td>

        <td> <button type="button"  (click) ="onSubmit3(emp)" class="btn btn-success"        >Update</button></td>
        <td> <button type="button"     class="btn btn-danger"    >Delete</button></td>
      </tr>

</tbody>

</table>


</div>




</div>
<!-- ============================================================== -->
<!-- End Container fluid  -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- footer -->
<!-- ============================================================== -->


