<div class="container">
<div class="align-items-center justify-content-center row" >


<br/>
<br/>

    <button type="submit"  (click) ="generatePdf()"  class="btn btn-success"> Download Pdf </button>
    <div [ngBusy]="busy"></div>

</div>




  <div id="report"    class="pp report" >
<hr/>
        <div  *ngFor="let emp of rows  let i = index" style="padding-left: 5px;padding-right:5px ; font-family:sans-serif;">

            <div>
              <strong>   Registration Number </strong>:  <strong> {{emp.filenumber}} </strong>  {{emp.filingDate|date}}   ({{emp.applicationclass}})

            </div>

            <hr/>

            <br/>

            <div *ngIf="emp.logo_pic">

                <img alt=""  class="mx-auto d-block" src="data:image/gif;base64,{{emp.logo_pic}}"  height="25%" width="25%"/>

            </div>

            <br/>

            <div>
                <strong> {{emp.productTitle.toUpperCase()}}  </strong>
            </div>

            <div>
                Class {{emp.applicationclass}}
            </div>

            <div>
                {{emp.classdescription.toUpperCase()}}
            </div>


            <div>
                <strong>{{emp.applicantName.toUpperCase()}} </strong>
            </div>


            <div>
                <strong>Email:</strong> {{emp.email}}  , {{emp.applicantAddress}}
            </div>

           <br/>

          </div>








    </div>

  </div>










