<div class="page-breadcrumb no-print">
  <div class="row">
      <div class="col-5 align-self-center">
          <h4 class="page-title">Recordal  Unit</h4>
          <div class="d-flex align-items-center">
          </div>
      </div>
      <div class="col-7 align-self-center">
          <div class="d-flex no-block justify-content-end align-items-center">
              <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                      <li class="breadcrumb-item">
                          <a href="#">Home</a>
                      </li>
                      <li class="breadcrumb-item active" aria-current="page">Renew Certificate</li>
                  </ol>
              </nav>
          </div>
      </div>
  </div>
</div>
<!-- ============================================================== -->
<!-- End Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Container fluid  -->
<!-- ============================================================== -->
<div class="container-fluid">
  <!-- ============================================================== -->
  <!-- Start Page Content -->
  <!-- ============================================================== -->
  <div class="row">


      <!-- Column -->
      <div class="col-lg-12 col-xl-12 col-md-12">
          <div class="card">
              <div class="card-body">
                  <div class="d-flex no-block align-items-center m-b-30">
                      <h4 class="card-title">Renew Certificate</h4>
                      <div [ngBusy]="busy"></div>

                      <ngx-spinner> <p style="font-size: 20px; color: white">Please Wait...</p></ngx-spinner>

                  </div>
<br/>


                  <div class="table-responsive">
                      <table id="myTable" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-bordered nowrap display">
                          <thead>
                              <tr>

                                <th>SN</th>
                                <th>OAI NO</th>
                                  <th>FILING DATE</th>
                                  <th>FILE NO.</th>
                                 <th>APPLICANT NAME </th>
                                 <th>PRODUCT TITLE </th>
                                 <th>CLASS </th>
                                 <th>STATUS </th>
                                 <th>PAYMENT REFERENCE </th>
                                 <th>NEXT RENEWAL DATE </th>

                                 <th> </th>


                              </tr>
                            </thead>
                            <tbody>

                                <tr *ngFor="let emp of rows  let i = index">

                                  <td>{{i + 1}}</td>
                                  <td>{{emp.transactionid}}</td>
                                     <td>{{emp.filingDate|date}}</td>
                                      <td>{{emp.filenumber}}</td>
                                      <td>{{emp.applicantName}}</td>
                                      <td>{{emp.productTitle}}</td>
                                      <td>{{emp.applicationclass}}</td>
                                      <td>{{emp.status}}</td>
                                      <td>{{emp.certificatePaymentReference}}</td>
                                      <td>{{emp.nextrenewalDate|date}}</td>


                                      <td>
                                        <button type="button" id="openModalButton" (click) ="showcountry(emp)"  class="btn btn-success ">Details </button>



                                   </td>



                                    </tr>
                                  </tbody>
                      </table>


                  </div>
              </div>
          </div>
      </div>
      <!-- Column -->

  </div>



</div>

<!-- Create Modal -->
<div class="modal fade" id="createmodel" tabindex="-1" role="dialog" aria-labelledby="createModalLabel" aria-hidden="true">
  <div class="modal-dialog  modal-xl" role="document">
      <div class="modal-content">
               <div class="card-body wizard-content">
                      <div class="modal-header">
                              <h5 class="modal-title" id="createModalLabel"><i class="ti-marker-alt m-r-10"></i> Data Details</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                              </button>
                          </div>

                          <table class="tablesaw table-bordered table-hover table" data-tablesaw-mode="swipe">
                              <tbody>
                                 <tr>
                                    <td width="269" style="width:250px"><strong>FILLING/APPLICATION DATE :&nbsp;</strong></td>
                                    <td width="217">{{row2.filingDate|date}}</td>
                                    <td width="241"><span style="width:250px"><strong>REGISTRATION NUMBER : </strong></span></td>
                                    <td width="260"> {{row2.filenumber}}</td>
                                 </tr>
                                 <tr>
                                    <td><strong>SYSTEM APPLICATION NUMBER:</strong></td>
                                    <td>OAI/TM/{{row2.transactionid}} </td>
                                    <td><strong>NAME : </strong></td>
                                    <td>{{row2.applicantName}}</td>
                                 </tr>
                                 <tr>
                                    <td><strong>TELEPHONE:</strong></td>
                                    <td>{{row2.phonenumber}}</td>
                                    <td><strong>E-MAIL:</strong></td>
                                    <td>{{row2.email}}</td>
                                 </tr>
                                 <tr>
                                    <td colspan="4" align="center">
                                       <h4 class="card-title" style="color:#FF0000"> TRADEMARK INFORMATION </h4>
                                    </td>
                                 </tr>
                                 <tr>
                                    <td><strong>TRADEMARK TYPE : </strong></td>
                                    <td>{{row2.trademarktype}}</td>
                                    <td><strong>LOGO DESCRIPTION :&nbsp; </strong></td>
                                    <td>{{row2.applicationclass}} </td>
                                 </tr>
                                 <tr>
                                    <td><strong>TRADEMARK :&nbsp;&nbsp; </strong></td>
                                    <td>{{row2.productTitle}} </td>
                                    <td><strong>DESCRIPTION OF SPECIFICATION OF GOODS/SERVICES :&nbsp;&nbsp;</strong></td>
                                    <td>{{row2.classdescription}}</td>
                                 </tr>



                                 <tr>
                                     <td colspan="4" align="center"><span class="card-title" style="color:#FF0000"><strong>PREVIOUS COMMENT </strong></span></td>
                                   </tr>
                                   <tr>
                                      <td colspan="4">
                                         <table  class="table"   width="100%">
     <tr>
         <th>Treated By</th>
         <th>Comment</th>
         <th>Upload</th>
         <th>Role</th>
       </tr>


                               <tr *ngFor="let val of row4 " >




                                 <td> {{val.users}}</td>

                                 <td> {{val.comments}}</td>


                                 <td>  <a *ngIf="val.uploadPath" target="_blank" href="{{filepath}}Upload/{{val.uploadPath}}">View</a></td>


                                 <td>{{val.role}} </td>
                               </tr>
                             </table>                                                  </td>
                                   </tr>



                              <tr>
                                     <td colspan="6" align="center"><span class="card-title" style="color:#FF0000"><strong>RENEWAL  INFORMATION </strong></span></td>
                                   </tr>






                                <tr  *ngIf="row7">
                                    <td colspan="6">
                                       <table  class="table"   width="100%">
                            <tr>
                              <th>Date</th>
                            <th>Renewal Type</th>
                            <th>Detail Of Request</th>
                            <th>Status</th>

                            <th>Certificate</th>
                            <th>Power Of Attorney</th>
                            </tr>


                             <tr *ngFor="let val of row7 " >


                              <td> {{val.dateCreated|date }}</td>

                               <td> {{val.renewalType }}</td>
                               <td> {{val.detailOfRequest }}</td>
                               <td> {{val.status }}</td>




                               <td>  <a *ngIf="val.certificateOfTrademark  " target="_blank" href="{{filepath}}Upload/{{val.certificateOfTrademark}}">View</a></td>


                               <td><a  *ngIf="val.powerOfAttorney "  target="_blank" href="{{filepath}}Upload/{{val.powerOfAttorney}}">View</a> </td>
                             </tr>
                            </table>                                                  </td>
                                 </tr>










                                 <tr>
                                    <td colspan="4" align="center">
                                       <h4 class="card-title" style="color:#FF0000">PAYMENT INFORMATION </h4>
                                    </td>
                                 </tr>
                                 <tr>
                                    <td><strong>TRANSACTION ID : </strong></td>
                                    <td>{{row2.transactionid}} </td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                 </tr>
                                 <tr>
                                    <td colspan="4" align="center">
                                       <h4 class="card-title" style="color:#FF0000">SUPPORTING DOCUMENTS </h4>
                                    </td>
                                 </tr>
                                 <tr *ngIf="vshow">
                                    <td  *ngIf="row2.logo_pic "><strong>
                                       IMAGE:                                </strong>
                                    </td>
                                    <td *ngIf="row2.logo_pic" >
                                       <a href="{{filepath}}Upload/{{row2.logo_pic}}">View</a>
                                    </td>
                                    <td  *ngIf="row2.auth_doc "><strong>
                                       AUTHORIZATION:                                </strong>
                                    </td>
                                    <td *ngIf="row2.auth_doc " >
                                       <a href="{{filepath}}Upload/{{row2.auth_doc}}">View</a>
                                    </td>
                                 </tr>
                                 <tr *ngIf="vshow">
                                    <td  *ngIf="row2.sup_doc1 "><strong>
                                       DOCUMENT 1:                                </strong>
                                    </td>
                                    <td *ngIf="row2.sup_doc1 " >
                                       <a href="{{filepath}}Upload/{{row2.sup_doc1}}">View</a>
                                    </td>
                                    <td *ngIf="row2.sup_doc2 " ><strong> DOCUMENT&nbsp; 2: </strong></td>
                                    <td  *ngIf="row2.sup_doc2 "  >
                                       <a href="{{filepath}}Upload/{{row2.sup_doc2}}">View</a>
                                    </td>
                                 </tr>
                              </tbody>
                           </table>

  </div>
  <form>


      <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

          <button type="submit" *ngIf="showstatus"   class="btn btn-success"> Certificate</button>


                </div>
  </form>
      </div>
  </div>
</div>


<!-- Create Modal 2 -->
<div class="modal fade" id="createmodel2" tabindex="-1" role="dialog" aria-labelledby="createModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-full" role="document">
        <div class="modal-content">
                 <div class="card-body wizard-content">
                        <div class="modal-header">
                                <h5 class="modal-title" id="createModalLabel"><i class="ti-marker-alt m-r-10"></i>Accept </h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                            </div>

                            <form name="form"  #f="ngForm" novalidate>

                            <table class="table text-center">
                                <tr>
                               <td>
                               Comments
                               </td>

                               <td>


                                  <textarea rows="4" class="form-control" required [(ngModel)]="appcomment"  name="classdescription2"      cols="30" placeholder="Comment">

                                    </textarea>



                                 </td>

                                </tr>


                               </table>


                              </form>
    </div>


            <form>


                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit"  (click) ="onSubmit2()"  class="btn btn-success"><i class="ti-save"></i> Save</button>

                </div>
            </form>
        </div>
    </div>
  </div>



<!-- Create Modal 3 -->
<div class="modal fade" id="createmodel3" tabindex="-1" role="dialog" aria-labelledby="createModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-full" role="document">
        <div class="modal-content">
                 <div class="card-body wizard-content">
                        <div class="modal-header">
                                <h5 class="modal-title" id="createModalLabel"><i class="ti-marker-alt m-r-10"></i>Refusal </h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                            </div>

                            <form name="form"  #f="ngForm" novalidate>

                            <table class="table text-center">
                                <tr>
                               <td>
                               Comments
                               </td>

                               <td>


                                  <textarea rows="4" class="form-control" required [(ngModel)]="appcomment2"  name="classdescription2"      cols="30" placeholder="Comment">

                                    </textarea>



                                 </td>

                                </tr>


                               </table>


                              </form>
    </div>


            <form>


                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit"  (click) ="onSubmit3()"  class="btn btn-success"><i class="ti-save"></i> Save</button>

                </div>
            </form>
        </div>
    </div>
  </div>


  <!-- Create Modal 4 -->
<div class="modal fade" id="createmodel4" tabindex="-1" role="dialog" aria-labelledby="createModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-full" role="document">
      <div class="modal-content">
               <div class="card-body wizard-content">
                      <div class="modal-header">
                              <h5 class="modal-title" id="createModalLabel"><i class="ti-marker-alt m-r-10"></i>Kiv </h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                              </button>
                          </div>

                          <form name="form"  #f="ngForm" novalidate>

                          <table class="table text-center">
                              <tr>
                             <td>
                             Comments
                             </td>

                             <td>


                                <textarea rows="4" class="form-control" required [(ngModel)]="appcomment3"  name="classdescription2"      cols="30" placeholder="Comment">

                                  </textarea>



                               </td>

                              </tr>


                             </table>


                            </form>
  </div>


          <form>


              <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="submit"  (click) ="onSubmit44()"  class="btn btn-success"><i class="ti-save"></i> Save</button>

              </div>
          </form>
      </div>
  </div>
</div>



<!-- Create Modal 5 -->
<div class="modal fade" id="createmodel5" tabindex="-1" role="dialog" aria-labelledby="createModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-full" role="document">
      <div class="modal-content">
               <div class="card-body wizard-content">
                      <div class="modal-header">
                              <h5 class="modal-title" id="createModalLabel"><i class="ti-marker-alt m-r-10"></i>ReConduct Search </h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                              </button>
                          </div>

                          <form name="form"  #f="ngForm" novalidate>

                          <table class="table text-center">
                              <tr>
                             <td>
                             Comments
                             </td>

                             <td>


                                <textarea rows="4" class="form-control" required [(ngModel)]="appcomment4"  name="classdescription2"      cols="30" placeholder="Comment">

                                  </textarea>



                               </td>

                              </tr>


                             </table>


                            </form>
  </div>


          <form>


              <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="submit"  (click) ="onSubmit55()"  class="btn btn-success"><i class="ti-save"></i> Save</button>

              </div>
          </form>
      </div>
  </div>
</div>



















