@{
    Layout = "~/Views/Shared/_GeneralLayout.cshtml";

}

<div class="banner-section inner">
    <figure><img src="images/services-banner.jpg" alt=""></figure>
    <ul class="breadcrumb">
        <div class="container">
            <li><a href="@Url.Action("Index","Home")">Home</a></li>
            <li class="active"><a href="@Url.Action("Index","AboutUs")">About Us</a></li>
        </div>
    </ul>
</div>



<div class="inner-section">
    <div class="container">
        <div class="service-section">
            <div class="row">
                <div class="col-3 wow fadeInLeft">
                    <div class="inner-ul">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item form-control"><a class="nav-link active" href="#on1" data-toggle="tab">The Registry</a></li>

                            <li class="nav-item form-control"><a class="nav-link" href="#on2" data-toggle="tab">Accreditation</a></li>

                        </ul>
                    </div>
                </div>
                <div class="col-9 wow fadeInRight">
                    <div class="tab-content">
                        <div id="on1" class="tab-pane fade in active show">
                            <div class="service-content">

                                <p>
                                    Welcome To The Official Website Of The Trademarks, Patents And Designs Registry, Commercial Law Department, Federal Ministry Of Industry, Trade And Investment. The Commercial Law Department administers protection of trademarks, patents and designs in Nigeria and Is Committed To Providing Prompt And Excellent Service Delivery Consistent With Modern Innovation And Technology As Well As Raising The Profile Of Nigeria In The Area Of Intellectual Property Protection, In A Way Consistent With Best Practices Across The Globe. Don&rsquo;t assume you own it. <br />
                                </p>
                                <p>
                                    We can protect your ideas, inventions, designs, and trade secrets and ensure your legal rights are not infringed upon. Contact us today to find out how you can get protection for your industrial Property (Trademarks, Patents and Industrial Designs)
                                </p>
                            </div>
                        </div>

                        <div id="on2" class="tab-pane fade">
                            <div class="service-content">

                                <p><strong>WHAT IS ACCREDITATION?</strong><br />
                                <p>
                                    Accreditation is a mandatory process for law firms, stakeholders and potential registrants that wish to act as agents. Accreditation helps to identify a legal practitioner or agent in the area of Industrial Property Registrations<br />
                                </p>
                                <p><strong>BENEFITS OF BEING ACCREDITED</strong></p>
                                <p>       1.&nbsp;&nbsp; &nbsp;Access to the Online filing platform<br />
                                <p>    2.&nbsp;&nbsp; &nbsp;E-payments with Debit Cards<br />
                                <p>  3.&nbsp;&nbsp; &nbsp;Application Status check<p />
                                <p> 4.&nbsp;&nbsp; &nbsp;Access to fees and Forms<p />
                                <p>5.&nbsp;&nbsp; &nbsp;Secure filing procedures<p />


                                <p><strong>REQUIREMENTS FOR ACCREDITATION</strong><br />

                                <p>
                                    1.&nbsp;&nbsp; &nbsp;Bio Data of Principal Partner (First Name, Surname, Nationality, Date Of Birth, State Of Origin)
                                </p>
                                <p>
                                    2.&nbsp;&nbsp; &nbsp;Company information (Name, Address, Email, Phone Number, Contact Person, Contact Number, Date Of Incorporation)
                                </p>
                                <p>
                                    3.&nbsp;&nbsp; &nbsp;Account Login Information ( Preferred Username And Password)
                                </p>
                                <p>
                                    4.&nbsp;&nbsp; &nbsp;Supporting documents (CAC Certificate, Letter Of Introduction Of Company And Its Representatives, Passport Photograph Of Principal Partner)
                                </p>
                                <p>
                                    5.&nbsp;&nbsp; &nbsp;A one-off fee of N23, 500&nbsp; for Corporate institutions and N13, 500&nbsp; for individuals
                                </p>

                                <p><strong>HOW TO APPLY</strong><br /></p>

                                <p>  You can apply online simply by following the steps below</p>
                                <p>
                                <p>1.&nbsp;&nbsp; &nbsp;Click the get accredited link under the secure member section</p>
                                <p>2.&nbsp;&nbsp; &nbsp;Read the Instructions and select preferred institution (individual or Corporate)</p>
                                <p>3.&nbsp;&nbsp; &nbsp;Complete the form displayed and attach supporting documents</p>
                                <p>4.&nbsp;&nbsp; &nbsp;Take note of your username and password as you would be required to login after submitting your form</p>
                                <p>5.&nbsp;&nbsp; &nbsp;Click submit and you will receive an automatic email with all the information provided when completing the accreditation</p>
                                <p>6.&nbsp;&nbsp; &nbsp;Login into your account under the secure member section and click complete accreditation in your user area to generate a successful invoice.</p>
                                <p>7.&nbsp;&nbsp; &nbsp;Print out invoice and proceed to www.quickteller.com/tpdr to make payment with your debit card or any Skye bank in Nigeria. &nbsp;</p>


                                <p><strong>AFTER YOU APPLY</strong><br /></p>

                                <p>  All applications will be reviewed by the Accreditation Manager. If the Review is successful, you will receive an email confirming your approval. Automatically, your online services links will become active.<p />

                                <p> <strong>AFTER ACCREDITION</strong><br /></p>

                                <p>
                                    When your account is activated you will be able to do the following<br />
                                    1.&nbsp;&nbsp; &nbsp;Make payment for services using your debit MasterCard<br />
                                    2.&nbsp;&nbsp; &nbsp;Pay for more than one item using PayExpressSolution<br />
                                    3.&nbsp;&nbsp; &nbsp;Fill online Application form (form 2), attach your bromide and power of attorney (form 1)<br />
                                    4.&nbsp;&nbsp; &nbsp;Print your acknowledgment online immediately.<br />
                                    5.&nbsp;&nbsp; &nbsp;Publication of your accepted marks are automatic and FREE<br />
                                    6.&nbsp;&nbsp; &nbsp;Track your application online using the Status Check module<br />
                                    7.&nbsp;&nbsp; &nbsp;Access to other services online (Application for Certificate, Mergers, search etc)<br />
                                    <br />         <br />
                                    For more enquiries, you can send an email to<br />
                                    info@iponigeria.com or customersupport@iponigeria.com or call 09-8762228, 08092194426, 08092194416, 08092194404<br />
                                </p>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>