<div class="welcome-section">
    <div class="row">
        <div class="col-6 left-content wow fadeInLeft">
            <figure><img src="images/welcome.jpg" alt=""></figure>
        </div>
        <div class="col-6 ryt-content wow fadeInRight">
            <div class="container">
                <h2><span>Welcome</span> TO IPO Nigeria website</h2>
                <p>Welcome To The Official Website Of The Trademarks, Patents And Designs Registry, Commercial Law Department, Federal Ministry Of Industry, Trade And Investment. The Commercial Law Department administers protection of trademarks, patents and designs in Nigeria and Is Committed To Providing Prompt And Excellent Service Delivery Consistent With Modern Innovation And Technology As Well As Raising The Profile Of Nigeria In The Area Of Intellectual Property Protection, In A Way Consistent</p>
          
            </div>
        </div>
    </div>
</div>