<div class="main-wrapper">
  <!-- ============================================================== -->
  <!-- Preloader - style you can find in spinners.css -->
  <!-- ============================================================== -->

  <!-- ============================================================== -->
  <!-- Preloader - style you can find in spinners.css -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <!-- Login box.scss -->
  <!-- ============================================================== -->
  <div class="auth-wrapper d-flex no-block justify-content-center align-items-center" style="background:url(assets/images/auth-bg.jpg) no-repeat center center;">
      <div class="auth-box-reg">
          <div>
              <div class="logo-reg">

                  <span class="db"><img src="assets/images/cldlogo.png" alt="logo" /></span>
                 <p></p>
                <!--  <h5 class="font-medium m-b-20">Applicant / Individual</h5> -->
              </div>

          <div class="row">
                  <div class="col-lg-12">
                      <div class="card">
                          <div class="card-header bg-success">
                              <h4 class="mb-0 text-white">Corporate / Agent</h4>
                              <div [ngBusy]="busy"></div>
                              <ngx-spinner> <p style="font-size: 20px; color: white">Please Wait...</p></ngx-spinner>
                          </div>
                          <form class="form-horizontal m-t-10" action="index.html"  [formGroup]="userform">
                              <div class="card-body">
                                  <h4 class="card-title">Company Info</h4>
                              </div>
                              <hr>
                              <div class="form-body">
                                      <div class="card-body">
                                              <div class="row pt-2">
                                                      <div class="col-md-6">
                                                          <div class="form-group">
                                                              <label class="control-label">Company Name</label>
                                                              <input formControlName="companyname" [ngClass]="{ 'is-invalid': submitted && companyname.errors }"  type="text" id="CompanyName" class="form-control" placeholder="Company Name">
                                                        </div>
                                                      </div>
                                                      <!--/span-->
                                                      <div class="col-md-6">
                                                          <div class="form-group has-danger">
                                                              <label class="control-label">Company Registration Number</label>
                                                              <input type="text" formControlName="CompanyRegistration" [ngClass]="{ 'is-invalid': submitted && CompanyRegistration.errors }" id="CompanyReg" class="form-control form-control-danger" placeholder="RC123">
                                                              </div>
                                                      </div>
                                                      <!--/span-->
                                                  </div>
                                                  <!--/row-->
                                              <div class="row">
                                                  <div class="col-md-12 ">
                                                      <div class="form-group">
                                                          <label>Street</label>

                                                          <textarea name="textarea"  formControlName="Street" [ngClass]="{ 'is-invalid': submitted && Street.errors }" placeholder="Street" class="form-control"   rows="5" cols="30"></textarea>
                                                        </div>
                                                  </div>
                                              </div>
                                              <div class="row">
                                                  <div class="col-md-6">
                                                      <div class="form-group">
                                                          <label>City</label>
                                                          <input formControlName="City" [ngClass]="{ 'is-invalid': submitted && City.errors }" type="text" class="form-control">
                                                      </div>
                                                  </div>
                                                  <!--/span-->

                                                  <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label>Country</label>


                                                        <select   name="Month" (change)="onChange($event)"   formControlName="Country" [ngClass]="{ 'is-invalid': submitted && Country.errors }"    class="form-control"    id="Month">
                                                          <option  value= "">
                                                            --Select your Country--
                                                            </option>
                                                          <option *ngFor="let country2 of row" value= {{country2.id}}>
                                                            {{country2.name}}
                                                          </option>
                                                        </select>
                                                    </div>
                                                </div>

                                                  <!--/span-->
                                              </div>
                                              <!--/row-->
                                              <div class="row">
                                                  <div class="col-md-6">
                                                      <div class="form-group">

                                                          <label>State</label>

                                                          <select (change)="onChange2($event)"  name="Month"   formControlName="State" [ngClass]="{ 'is-invalid': submitted &&  State.errors }"    class="form-control"    id="State">
                                                            <option  value= "">
                                                              --Select State--
                                                              </option>
                                                            <option *ngFor="let state2 of row2" value= {{state2.id}}>
                                                              {{state2.stateName}}
                                                            </option>
                                                          </select>


                                                        </div>
                                                  </div>
                                                  <!--/span-->
                                                  <div class="col-md-6">
                                                    <div class="form-group">

                                                      <label>LGA</label>



                                                      <select   name="State"   formControlName="lga" [ngClass]="{ 'is-invalid': submitted &&  lga.errors }"    class="form-control"    id="State">
                                                        <option  value= "">
                                                          --Select Lga--
                                                          </option>
                                                        <option *ngFor="let state2 of row4" value= {{state2.id}}>
                                                          {{state2.lgaName}}
                                                        </option>
                                                      </select>

                                                      </div>
                                                </div>
                                                  <!--/span-->
                                              </div>

                                              <div class="row">

                                                  <div class="col-md-6">
                                                      <div class="form-group">
                                                        <label>Post Code</label>

                                                        <input type="text" formControlName="PostCode" [ngClass]="{ 'is-invalid': submitted && PostCode.errors }" placeholder="Postal Code" class="form-control">

                                                        </div>
                                                  </div>


                                              </div>
                                              <h4 class="card-title mt-3">Company Representative/Agent</h4>
                                          </div>
                                   <hr>
                                  <div class="card-body">
                                      <div class="row pt-3">
                                          <div class="col-md-6">
                                              <div class="form-group">
                                                  <label class="control-label">Contact First Name</label>
                                                  <input type="text" formControlName="FirstName" [ngClass]="{ 'is-invalid': submitted && FirstName.errors }" id="firstName" class="form-control" placeholder="First Name">
                                            </div>
                                          </div>
                                          <!--/span-->
                                          <div class="col-md-6">
                                              <div class="form-group has-danger">
                                                  <label class="control-label">Contact Last Name</label>
                                                  <input type="text" formControlName="LastName" id="lastName" placeholder="Last Name" [ngClass]="{ 'is-invalid': submitted && LastName.errors }" class="form-control form-control-danger" placeholder="12n">
                                                  </div>
                                          </div>
                                          <!--/span-->
                                      </div>
                                      <!--/row-->
                                           <!--/row-->
                                           <div class="row">

                                                  <!--/span-->
                                                  <div class="col-md-6">
                                                      <div class="form-group">
                                                          <label class="control-label">Means of Identification</label>


                                                          <select   name="Identification"  formControlName="MeansofIdentification" [ngClass]="{ 'is-invalid': submitted && MeansofIdentification.errors }"     class="form-control"    id="Month">
                                                            <option  value= "">
                                                              --Select your Means of Identification--
                                                              </option>
                                                            <option *ngFor="let country2 of varray44" value= {{country2.YearCode}}>
                                                              {{country2.YearName}}
                                                            </option>
                                                          </select>
                                                      </div>
                                                  </div>
                                                  <!--/span-->

                                                  <div class="col-md-6">
                                                    <div class="form-group has-danger">
                                                        <label class="control-label">Identification Number</label>
                                                        <input type="text" formControlName="IdentificationValue" [ngClass]="{ 'is-invalid': submitted && IdentificationValue.errors }" id="telnumber" class="form-control form-control-danger" placeholder="Identification Number">
                                                        </div>
                                                </div>

                                              </div>
                                              <!--/row-->
                                      <div class="row">
                                          <div class="col-md-6">
                                              <div class="form-group has-success">
                                                  <label class="control-label">Gender</label>
                                                  <select formControlName="Gender" [ngClass]="{ 'is-invalid': submitted && Gender.errors }" class="form-control">

                                                    <option value=""> --Select Gender--</option>
                                                    <option value="Male">Male</option>
                                                      <option value="Female">Female</option>
                                                  </select>
                                                  <small class="form-control-feedback"> Select your gender </small> </div>
                                          </div>
                                          <!--/span-->
                                          <div class="col-md-6">
                                              <div class="form-group">
                                                  <label class="control-label">Date of Birth</label>
                                                  <input type="text"  [maxDate]="maxDate" formControlName="DateofBirth" [ngClass]="{ 'is-invalid': submitted && DateofBirth.errors }" placeholder="Date Of Birth" class="form-control" bsDatepicker [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }">
                                              </div>
                                          </div>
                                          <!--/span-->
                                      </div>
                                      <!--/row-->
                                      <div class="row">
                                          <div class="col-md-6">
                                                  <div class="form-group has-danger"   [ngClass]="{ 'is-invalid': submitted && companytelephone.errors }">
                                                          <label class="control-label">Company Telephone Number</label>



                                                          <input type="text" required type="text" autocomplete="nope"  placeholder="Company Telephone Number"   formControlName="companytelephone" [pattern]="phonepattern"  [ngClass]="{ 'is-invalid': submitted && userform.controls['companytelephone'].hasError('required') }" class="form-control " id="PhoneNumber222" name="PhoneNumber221">


                                                          <div *ngIf="userform.controls['companytelephone'].errors?.pattern" style="color:red">
                                                           Phone Number  not valid.
                                                       </div>

                                                        </div>
                                          </div>
                                          <!--/span-->
                                          <div class="col-md-6">
                                                  <div class="form-group has-danger">
                                                      <label class="control-label">Mobile Number</label>


                                                      <input type="text" required type="text" autocomplete="nope"  placeholder="Mobile Number"   formControlName="MobileNumber" [pattern]="phonepattern"  [ngClass]="{ 'is-invalid': submitted && userform.controls['MobileNumber'].hasError('required') }" class="form-control " id="PhoneNumber222" name="PhoneNumber221">


                                                      <div *ngIf="userform.controls['MobileNumber'].errors?.pattern" style="color:red">
                                                       Mobile  Number  not valid.
                                                   </div>

                                                    </div>
                                              </div>
                                          <!--/span-->
                                      </div>
                                      <div class="row">
                                              <div class="col-md-6">
                                                      <div class="form-group has-danger">
                                                              <label class="control-label">e-Mail</label>
                                                              <input formControlName="companyemail" [ngClass]="{ 'is-invalid': submitted && companyemail.errors }" class="form-control"  type="email" value="bootstrap@example.com" id="example-email-input" placeholder="email">

                                                              </div>
                                              </div>
                                              <!--/span-->
                                              <div class="col-md-6">
                                                      <div class="form-group">
                                                              <label for="example-url-input" class="col-form-label">Company Website</label>

                                                <input formControlName="companywebsite" [ngClass]="{ 'is-invalid': submitted && companywebsite.errors }" class="form-control" type="url" value="https://getbootstrap.com" id="example-url-input" placeholder="Company Website">

                                                          </div>
                                                  </div>
                                              <!--/span-->
                                          </div>

                                          <div class="row">



                                            <div class="col-md-12 ">
                                                <div class="form-group">
                                                    <label>Profile Picture</label>
                                                    <input #fileInput placeholder="Upload"  (change)="chng4()" type="file" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                      <!--/row-->

                                  </div>

                                  <div class="form-actions">
                                      <div class="card-body">
                                          <button type="submit" (click) ="onSubmit()" class="btn btn-success"> <i class="fa fa-check"></i> Submit</button>
                                          <button type="button" (click) ="onSubmit2()" class="btn btn-danger">Cancel</button>
                                      </div>
                                  </div>
                              </div>
                          </form>
                      </div>
                  </div>
              </div>
              <!-- Row -->
          </div>
      </div>
  </div>
  <!-- ============================================================== -->
  <!-- Login box.scss -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <!-- Page wrapper scss in scafholding.scss -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <!-- Page wrapper scss in scafholding.scss -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <!-- Right Sidebar -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <!-- Right Sidebar -->
  <!-- ============================================================== -->
</div>
