<div class="page-breadcrumb">
  <div class="row">
      <div class="col-5 align-self-center">
          <h4 class="page-title">New Trademark Application</h4>
          <div class="d-flex align-items-center">

          </div>
      </div>
      <div class="col-7 align-self-center">
          <div class="d-flex no-block justify-content-end align-items-center">
              <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                      <li class="breadcrumb-item">
                          <a href="#">Home</a>
                      </li>
                      <li class="breadcrumb-item active" aria-current="page">New Application</li>
                  </ol>
              </nav>
          </div>
      </div>
  </div>
</div>
<!-- ============================================================== -->
<!-- End Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Container fluid  -->
<!-- ============================================================== -->
<div class="container-fluid">
  <!-- ============================================================== -->
  <!-- Start Page Content -->
  <!-- ============================================================== -->
  <div class="row">


      <!-- ============================================================== -->
      <!-- Example -->
      <!-- ============================================================== -->
      <div class="col-12">
          <div class="card">
              <div class="card-body wizard-content">

                  <div [ngBusy]="busy"></div>

                  <form action="#" class="validation-wizard wizard-circle m-t-40"  #f="ngForm">
                      <!-- Step 1 -->
                      <h6>Step 1</h6>
                      <section>
                          <div class="row">
                              <div class="col-md-6">
                                  <div class="form-group">
                                      <label for="wfirstName2"> Trademark Type : <span class="danger">*</span> </label>


                                      <select    required  [(ngModel)]="account.trademarktype"  id="wfirstName2"   name="firstName"      class="custom-select form-control-lg "    id="Month">
                                        <option  value= "">
                                          --Select Trademark Type--
                                          </option>
                                        <option *ngFor="let country2 of row10" value= {{country2.id}}>
                                          {{country2.description}}
                                        </option>
                                      </select>
                              </div>
                              </div>
                              <div class="col-md-6">
                                  <div class="form-group">
                                      <label for="wlastName2"> Logo Description  : <span class="danger">*</span> </label>


                                      <select    required  [(ngModel)]="account.trademarklogo"  (change)="onChange2($event.target.value)"   id="wlastName21" name="lastName10"      class="custom-select form-control-lg "    >
                                        <option  value= "">
                                          --Select Logo Description--
                                          </option>
                                        <option *ngFor="let country2 of row11" value= {{country2.id}}>
                                          {{country2.type}}
                                        </option>
                                      </select>
                              </div>
                          </div>
                          </div>

                          <div class="row">
                              <div class="col-md-6">
                                  <div class="form-group">
                                      <label for="wemailAddress2"> Trademark Title : <span class="danger">*</span> </label>
                                      <input type="text"  required  [(ngModel)]="account.trademarktitle" class="form-control " id="wemailAddress2" name="emailAddresss2">


                                      </div>

                                    </div>
                              <div class="col-md-6">
                                  <div class="form-group">
                                      <label for="wphoneNumber2">GENERAL GOODS/SERVICES IN THE CLASS :</label>


                                      <select    required (change)="onChange($event)"   [(ngModel)]="account.trademarkclass"    id="wphoneNumber2" name="wphoneNumber"      class="custom-select form-control-lg "    >
                                        <option  value= "">
                                          --Class Of Goods--
                                          </option>
                                        <option *ngFor="let country2 of rows" value= {{country2.type}}>
                                          {{country2.type}}
                                        </option>
                                      </select>
                                    </div>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-6">
                                  <div class="form-group">
                                    <label for="wlocation2"> Description : <span class="danger">*</span> </label> <br/>
                                      <textarea rows="4"  class="form-control " cols="30" disabled id="classdescription" name="classdescription2"  [(ngModel)]="account.trademarkdesc" cols="30" placeholder="Description">

                                      </textarea>
                                  </div>
                              </div>
                              <div class="col-md-6"  *ngIf="vshow">
                                  <div class="form-group">
                                      <label for="wlocation2"> REPRESENTATION OR MARK : <span class="danger">*</span> </label>
                                      <input type="file" (change)="chng()" #fileInput class="form-control "  accept="image/*" id="uploadAddress2" name="uploadAddress">
                                      <a *ngIf="image1" target="_blank"  href="{{filepath}}Upload/{{ image1}}">View Upload</a>
                                    </div>
                              </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                            <label for="wlocation2"> SUPPORTING DOCUMENT(S) [IF ANY]  : <span class="danger">*</span> </label>
                                            <input type="file" (change)="chng3()" #fileInput3 class="form-control " id="uploadAddress2" name="uploadAddress" > <span > Supporting document 1</span>  <a *ngIf="image3" target="_blank"  href="{{filepath}}Upload/{{ image3}}">View Upload</a> <br/>
                                            <input type="file" (change)="chng4()" #fileInput4 class="form-control " id="uploadAddress2" name="uploadAddress">  <span > Supporting document 2</span>  <a *ngIf="image4" target="_blank"  href="{{filepath}}Upload/{{ image4}}">View Upload</a>
                                        </div>
                            </div>
                            <div class="col-md-6"  *ngIf=" vshow3">

                                <div class="form-group">
                                    <label for="wlocation2"> POWER OF ATTORNEY  : <span class="danger">*</span> </label>
                                    <input type="file" (change)="chng2()"  #fileInput2 class="form-control " id="uploadAddress22" name="uploadAddresss">
                                    <a *ngIf="image2" target="_blank"  href="{{filepath}}Upload/{{ image2}}">View Upload</a>
                                  </div>

                            </div>
                            </div>

                            <div class="row">
                              <div class="col_md_6">
                                  <div class="modal-footer">



                                  </div>

                              </div>


                              <div class="col_md_6">
                                  <div class="row">

                                      <div class="col_md_6 col_md_offset_6">

                                      <button type="button"  (click) ="onSubmit(f.form.valid)" class="btn btn-success"> Next</button>

                                      </div>
                                  </div>

                              </div>

                            </div>
                      </section>


                         <!-- Step 2 -->
                         <h6>Step 2</h6>
                         <section>
                          <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">DATA PREVIEW</h4>

                                <table class="tablesaw table-bordered table-hover table" data-tablesaw-mode="swipe">

                                    <tbody>
                          <tr>
                                     <td >
                                         &nbsp;TRADEMARK TYPE :&nbsp;&nbsp;
                                     </td>
                                     <td>
                                         {{trademarktype}}
                                        &nbsp;
                                     </td>
                                 </tr>

                                <tr>
                                     <td >
                                         &nbsp;LOGO DESCRIPTION  :&nbsp;&nbsp;
                                     </td>
                                     <td>
                                         {{trademarklogo}}
                                        &nbsp;
                                     </td>
                                 </tr>

                          <tr>
                                     <td >
                                         &nbsp;TRADEMARK TITLE :&nbsp;&nbsp;
                                     </td>
                                     <td>
                                         {{account.trademarktitle}}
                                        &nbsp;
                                     </td>
                                 </tr>

                           <tr>
                                     <td >
                                         &nbsp;GENERAL GOODS/SERVICES IN THE CLASS :&nbsp;&nbsp;
                                     </td>
                                     <td>
                                         {{account.trademarkclass}}
                                        &nbsp;
                                     </td>
                                 </tr>

                         <tr>
                                     <td  >
                                         &nbsp;CLASS DESCRIPTION :&nbsp;&nbsp;
                                     </td>
                                     <td>
                                         {{account.trademarkdesc}}
                                        &nbsp;
                                     </td>
                                 </tr>

                        <tr  *ngIf="image2 && vshow3">
                                     <td >
                                         &nbsp;POWER OF ATTORNEY :&nbsp;&nbsp;
                                     </td>
                                     <td>
                                        <a *ngIf="image2" target="_blank"  href="{{filepath}}Upload/{{ image2}}">View Upload</a>
                                        &nbsp;
                                     </td>
                                 </tr>

       <tr *ngIf="image1">
                                     <td  >
                                         &nbsp;REPRESENTATION OR MARK :&nbsp;&nbsp;
                                     </td>
                                     <td>
                                         <a *ngIf="image1" target="_blank"  href="{{filepath}}Upload/{{ image1}}">View Upload</a>
                                        &nbsp;
                                     </td>
                                 </tr>

      <tr *ngIf="image1">
                                     <td >
                                         &nbsp;SUPPORTING DOCUMENT(S) [IF ANY]  :&nbsp;&nbsp;
                                     </td>
                                     <td>
                                         <a *ngIf="image3" target="_blank"  href="{{filepath}}Upload/{{ image3}}">View Upload</a>   <br/>
                                         <a *ngIf="image4" target="_blank"  href="{{filepath}}Upload/{{ image4}}">View Upload</a>
                                        &nbsp;
                                     </td>
                                 </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                               <div class="row">
                                 <div class="col_md_6">
                                     <div class="modal-footer">



                                     </div>

                                 </div>


                                 <div class="col_md_6">
                                     <div class="row">

                                         <div class="col_md_6 col_md_offset_6">
                                            <button type="button" (click) ="onSubmit5a()"   class="btn btn-success"> Back</button> &nbsp;&nbsp;&nbsp;
                                          <button type="button" (click) ="onSubmit4a()"   class="btn btn-success"> Next</button> &nbsp;&nbsp;&nbsp;
                                         <button type="button" (click) ="onSubmit3a()"   class="btn btn-success"><i class="ti-save"></i> Save And Continue Later</button>


                                         </div>
                                     </div>

                                 </div>

                               </div>
                         </section>

                         <h6>Step 3</h6>
                         <section>
                            <div class="align-items-center justify-content-center row" >
                       <table class="table" >

                        <tr>
                          <td colspan="2">

                              <h6>Terms of Use</h6>
                              These terms and conditions shall govern your use of our website.

                              <h6>Eligibility and Identity.</h6>
                              By using our website, you accept these terms and conditions in full; accordingly, if you disagree with these terms and conditions or any part of these terms and conditions, you must not use our website.


                              <h6>Use of Services & Account</h6>
                              If you register with our website, submit any material to our website or use any of our website services], we will ask you to expressly agree to these terms and conditions.



                              <h6>Intellectual Property Ownership</h6>
                              All Materials, Services, Accounts, and content, including, but not limited to, policy information, text, software, music, sound, photographs, video, graphics, the arrangement of text and images, commercially produced information, and other material contained on the Site or through the Services (“Content”), are provided by The Company unless indicated otherwise. Welsh onion tigernut broccoli asparagus brussels sprout jícama eggplant earthnut pea cress chickpea gourd zucchini. Radicchio lentil cucumber groundnut endive kohlrabi winter purslane. Seakale plantain quandong celtuce shallot fennel seakale epazote groundnut dandelion.

                              <h6>Privacy</h6>
                              You must be at least [18] years of age to use our website; by using our website or agreeing to these terms and conditions, you warrant and represent to us that you are at least [18] years of age.


                          </td>

                        </tr>

                          <tr >
                            <td colspan="2"> <span> Do You  Accept Our Terms And Condition </span> <span> <input [(ngModel)]="checkboxFlag"  (change)="FieldsChange($event)" type="checkbox"/> </span> </td>


                          </tr>

                          <tr>
                           <td *ngIf="!settingoff">
                              <button type="button" (click) ="onSubmit5a()"   class="btn btn-success"> Back</button> &nbsp;&nbsp;&nbsp;
                              <button *ngIf="checkboxFlag"  (click) ="onSubmit3()"   type ="submit"  class="btn btn-info"><i class="fab fa-cc-Remita"></i> Make Payment</button>

                           </td>

                           <td *ngIf="settingoff">
                              <button type="button" (click) ="onSubmit5a()"   class="btn btn-success"> Back</button> &nbsp;&nbsp;&nbsp;
                            <button *ngIf="checkboxFlag"  (click) ="onSubmit33()"   type ="submit"  class="btn btn-info"><i class="fab fa-cc-Remita"></i> Make Offline Payment</button>
                         </td>

                          </tr>


                       </table>

                       </div>

                          </section>






                      <h6>Step 4</h6>
                      <section>
                     <p>Thank You </p>

                      </section>



                                    </form>

              </div>
          </div>
      </div>

  </div>
  <!-- ============================================================== -->
  <!-- End PAge Content -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <!-- Right sidebar -->
  <!-- ============================================================== -->
  <!-- .right-sidebar -->
  <!-- ============================================================== -->
  <!-- End Right sidebar -->
  <!-- ============================================================== -->
</div>
