<div class="page-breadcrumb">
  <div class="row">
      <div class="col-5 align-self-center">
          <h4 class="page-title">Products Billing</h4>
          <div [ngBusy]="busy"></div>
          <div class="d-flex align-items-center">

          </div>
      </div>
      <div class="col-7 align-self-center">
          <div class="d-flex no-block justify-content-end align-items-center">
              <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                      <li class="breadcrumb-item">
                          <a href="#">Home</a>
                      </li>
                      <li class="breadcrumb-item active" aria-current="page">Library</li>
                  </ol>
              </nav>
          </div>
      </div>
  </div>
</div>

<div class="container-fluid">
  <!-- ============================================================== -->
  <!-- Start Page Content -->
  <!-- ============================================================== -->

  <!-- ============================================================== -->
  <!-- Table -->
  <!-- ============================================================== -->
  <div class="row">
      <div class="col-md-12">
          <div class="card">
              <div class="card-body">
                  <h5 class="card-title">PRODUCT SUMMARY</h5>
                  <div class="table-responsive">
                      <table class="table table-bordered">
                          <thead>
                              <tr>

                                  <th>Product</th>
                                  <th>Quantity</th>
                                  <th>Price</th>
                              </tr>
                          </thead>
                          <tbody>
                              <tr>
                                  <td>{{rows.description}}</td>

                                  <td>1</td>
                                  <td class="font-500">&#8358;{{tot| number:'.2-2'}}</td>
                              </tr>
                              <tr>
                                  <td colspan="3" class="font-500" align="right">Total Amount</td>
                                  <td class="font-500">&#8358;{{tot| number:'.2-2' }}</td>
                              </tr>

                              <tr>
                                <td colspan="3" class="font-500" align="right">I Accept Amount</td>
                                <td class="font-500"><input [(ngModel)]="checkboxFlag"  (change)="FieldsChange($event)" type="checkbox"/></td>
                            </tr>

                            <tr>
                              <td colspan="3" class="font-500" align="right"></td>
                              <td class="font-500"><form ngNoForm action="https://remitademo.net/remita/ecomm/finalize.reg" name="SubmitRemitaForm"  method="POST">
                                <input name="merchantId" value="{{row2.merchantId}}" type="hidden">
                                <input name="hash" value="{{row2.hash}}" type="hidden">
                                <input name="rrr" value="{{row2.rrr}}" type="hidden">
                                <input name="responseurl" value="{{vfilepath}}Dashboard/ProductBilling" type="hidden">

                                <button *ngIf="checkboxFlag"    type ="submit"  class="btn btn-info"><i class="fab fa-cc-Remita"></i> Pay with Remita</button>
                                </form>
</td>
                          </tr>
                          </tbody>
                      </table>
                  </div>

              </div>
          </div>
      </div>
  </div>
  <!-- ============================================================== -->
  <!-- End PAge Content -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <!-- Right sidebar -->
  <!-- ============================================================== -->
  <!-- .right-sidebar -->
  <!-- ============================================================== -->
  <!-- End Right sidebar -->
  <!-- ============================================================== -->
</div>
