 <div [ngBusy]="busy"></div>


<div *ngIf="trademarkregistra">
  <div>
    <div class="Container-fluid">
            <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 grid-size"  >
                    <div style="background-color: #70AD47; color: #ffffff" class="grid-style" >
                      <p class="d-flex justify-content-end">{{tempuserapprovalcount| number}}</p>
                      <h6 class="d-flex justify-content-end">Approve User </h6>

                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 grid-size"  >
                    <div class="grid-style" style="background-color: #ED7D31; color: #ffffff">
                      <p class="d-flex justify-content-end">{{appealCount| number}}</p>
                      <h6 class="d-flex justify-content-end">User Appeal</h6>

                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 grid-size"  >
                    <div class="grid-style" style="background-color: #5B9BD5; color: white;">
                      <p class="d-flex justify-content-end">{{ReceiveappealCount| number}}</p>
                      <h6 class="d-flex justify-content-end">Receive Appeal</h6>

                    </div>
                </div>

                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 grid-size"  >
                  <div class="grid-style" style="background-color: #EF4836; color: white;">
                    <p class="d-flex justify-content-end">{{ReceiveappealCount + appealCount + tempuserapprovalcount | number}}</p>
                    <h6 class="d-flex justify-content-end">Total Pending</h6>

                  </div>
              </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 sect-two">
                    <div>
                       <div id="chartdiv" style="width: 100%; height: 500px"  ></div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 sect-two">
                    <div>

                    </div>
                </div>

            </div>
        </div>
    </div>



</div>


<!--<div id="chartdiv" style="width: 100%; height: 500px"  *ngIf="trademarkregistra"></div> -->
<!-- ============================================================== -->
<!-- Info box -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Email campaign chart -->
<!-- ============================================================== -->

<!-- ============================================================== -->
<!-- Email campaign chart -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Top Selliing Products -->
<!-- ============================================================== -->



<div *ngIf="patentregistra">
  <div>
    <div class="Container-fluid">
            <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 grid-size"  >
                    <div style="background-color: #70AD47; color: #ffffff" class="grid-style" >
                      <p class="d-flex justify-content-end">{{tempuserapprovalcount| number}}</p>
                      <h6 class="d-flex justify-content-end">Approve User </h6>

                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 grid-size"  >
                    <div class="grid-style" style="background-color: #ED7D31; color: #ffffff">
                      <p class="d-flex justify-content-end">{{patentappealCount| number}}</p>
                      <h6 class="d-flex justify-content-end">User Appeal</h6>

                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 grid-size"  >
                    <div class="grid-style" style="background-color: #5B9BD5; color: white;">
                      <p class="d-flex justify-content-end">{{PatentTreatedAppealCount| number}}</p>
                      <h6 class="d-flex justify-content-end">Receive Appeal</h6>

                    </div>
                </div>

                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 grid-size"  >
                  <div class="grid-style" style="background-color: #EF4836; color: white;">
                    <p class="d-flex justify-content-end">{{PatentTreatedAppealCount + patentappealCount + tempuserapprovalcount | number}}</p>
                    <h6 class="d-flex justify-content-end">Total Pending</h6>

                  </div>
              </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 sect-two">
                    <div>
                       <div id="chartdiv2" style="width: 100%; height: 500px"  ></div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 sect-two">
                    <div>

                    </div>
                </div>

            </div>
        </div>
    </div>



  <!-- ============================================================== -->
  <!-- Info box -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <!-- Email campaign chart -->
  <!-- ============================================================== -->

  <!-- ============================================================== -->
  <!-- Email campaign chart -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <!-- Top Selliing Products -->
  <!-- ============================================================== -->


  </div>




  <div *ngIf="designregistra">



      <div>
        <div class="Container-fluid">
                <div class="row">
                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 grid-size"  >
                        <div style="background-color: #70AD47; color: #ffffff" class="grid-style" >
                          <p class="d-flex justify-content-end">{{tempuserapprovalcount| number}}</p>
                          <h6 class="d-flex justify-content-end">Approve User </h6>

                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 grid-size"  >
                        <div class="grid-style" style="background-color: #ED7D31; color: #ffffff">
                          <p class="d-flex justify-content-end">{{designappealCount| number}}</p>
                          <h6 class="d-flex justify-content-end">User Appeal</h6>

                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 grid-size"  >
                        <div class="grid-style" style="background-color: #5B9BD5; color: white;">
                          <p class="d-flex justify-content-end">{{DesignTreatedAppealCount| number}}</p>
                          <h6 class="d-flex justify-content-end">Receive Appeal</h6>

                        </div>
                    </div>

                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 grid-size"  >
                      <div class="grid-style" style="background-color: #EF4836; color: white;">
                        <p class="d-flex justify-content-end">{{DesignTreatedAppealCount + designappealCount + tempuserapprovalcount | number}}</p>
                        <h6 class="d-flex justify-content-end">Total Pending</h6>

                      </div>
                  </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 sect-two">
                        <div>
                           <div id="chartdiv3" style="width: 100%; height: 500px"  ></div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 sect-two">
                        <div>

                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>



