



    <tr>
        <td colspan="4">
           <table  class="table"   width="100%">
<tr>
<th>Old Applicant First Name</th>
<th>Old Applicant Last  Name</th>
<th>New Applicant First Name</th>
<th>New Applicant Last Name</th>
</tr>


 <tr *ngFor="let val of row2 " >




   <td>{{val.oldApplicantFirstName }} </td>

   <td> {{val.oldApplicantSurname }} </td>


   <td> {{val.newApplicantFirstname }}  </td>


   <td> {{val.newApplicantSurname}}</td>
 </tr>
</table>                                                  </td>
     </tr>



