@*<div class="newsletter-section text-center">
    <div class="container">
        <div class="newsletter-lft wow fadeInLeft">
            <h3>Sign Up for our Newsletter</h3>
            <p>Lorem Ipsum is simply dummy text of the printbeen the industry's standard dummy text ever a galley of type and scrambled it to make a type specimen book.</p>
        </div>
        <div class="newsletter-ryt wow fadeInRight">
            <form>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Enter your email">
                </div>
                <input type="submit" class="btn btn-success" value="Subscribe">
            </form>
        </div>
    </div>
</div>*@

<div class="newsletter-section text-center">
   
</div>