<div class="news-section">
    <div class="container">
        <h2 class="text-center"><span>Latest</span> News</h2>
        <div class="row">
            <div class="col-6 wow fadeInLeft">
                <div class="news-box">
                    <figure><img src="images/news1.jpg" alt=""></figure>
                    <div class="row news-content">
                        <div class="col-3 date">
                            <p><strong>9</strong> <span>July, 2012</span></p>
                        </div>
                        <div class="col-9 heading">
                            <h4>Online Registration of Trademark, Patent and Designs</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 wow fadeInRight">
                <div class="news-box">
                    <figure><img src="images/news2.jpg" alt=""></figure>
                    <div class="row news-content">
                        <div class="col-3 date">
                            <p><strong>5</strong> <span>May, 2012</span></p>
                        </div>
                        <div class="col-9 heading">
                            <h4>&nbsp; Nigeria celebrates wipo day</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>