<div class="quote-section">
    <div class="container">
        <div class="row">
            <div class="col-8 quote-left wow fadeInLeft">
                <ul>
                    <li><a href="#">Electronic Payment</a></li>
                    <li><a href="#">Fraud Fee</a></li>
                    <li><a href="#">Online Documents</a></li>
                    <li><a href="#">Status Check</a></li>
                    <li><a href="#">Professionalism</a></li>
                    <li><a href="#">Electronic Certificates</a></li>
                </ul>
                @*<div class="quote-btn"><a href="#" class="btn btn-default" data-text="Request A Quote"><span>Request A Quote</span></a></div>*@
            </div>
            <div class="col-4 quote-ryt wow fadeInRight">
                <figure class="pull-right"><img src="images/quote-ryt.png" alt=""></figure>
            </div>
        </div>
    </div>
</div>