<div class="page-loader" id="page-loader" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="controls-loader" large>
            <div class="loader-wrappr">
                <div class="loadr-itm loader">
                    <div class="loader-circle"></div>
                    <div class="loader-line-mask">
                        <div class="loader-line"></div>
                    </div>
                </div>
                <div class="loadr-itm hint"></div>
            </div>
        </div>
    </div>
</div>
<script src="~/Content/son.js"></script>
<link href="~/Content/son.css" rel="stylesheet" />