<div class="main-wrapper">
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->

    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Login box.scss -->
    <!-- ============================================================== -->

    <div class="auth-wrapper d-flex no-block justify-content-center align-items-center" style="background:url(assets/images/auth-bg.jpg) no-repeat center center;">

      <div class="auth-box on-sidebar">
          <ngx-spinner> <p style="font-size: 20px; color: white">Please Wait...</p></ngx-spinner>



          <div id="loginform">
                <div class="logo">
                    <span class="db"><img src="assets/images/cldlogo.png" alt="logo" /></span>
                    <p></p>
                    <h5 class="font-medium m-b-20">Sign In</h5>
                    <alert *ngIf="showerror" type="danger">{{messages}}</alert>

                </div>
                <!-- Form -->
                <div class="row m-t-20">
                    <div class="col-12 ">
                        <form class="form-horizontal m-t-20" id="loginform" [formGroup]="userform">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1"><i class="ti-email btn-success"></i></span>

                                </div>
                                <input type="text" class="form-control form-control-lg" placeholder="E-mail"  formControlName="Email" aria-label="E-mail" [ngClass]="{ 'is-invalid': submitted && Email.errors }" aria-describedby="basic-addon1">
                                <div *ngIf="submitted && Email.errors" class="invalid-feedback">
                                  <div *ngIf="submitted && Email.errors.required">Email is required</div>
                                  <div *ngIf="submitted && Email.errors.email">Email must be a valid email address</div>
                                </div>

                              </div>

                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon2"><i class="ti-pencil btn-success"></i></span>
                                </div>
                                <input type="password" class="form-control form-control-lg"  formControlName="Password" placeholder="Password"  [ngClass]="{ 'is-invalid': submitted && Password.errors }" aria-label="Password" aria-describedby="basic-addon1">
                                <div *ngIf="submitted && Password.errors" class="invalid-feedback">
                                  <div *ngIf="submitted && Password.errors.required">Password is required</div>

                                </div>

                              </div>
                            <div class="form-group row">
                                <div class="col-md-12">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customCheck1">
                                        <label class="custom-control-label" for="customCheck1">Remember me</label>
                                        <a href="javascript:void(0)"  (click) ="onSubmit2()" id="to-recover" class="text-dark float-right"><i class="fa fa-lock m-r-5"></i> Forgot password?</a>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group text-center">
                                <div class="col-xs-12 p-b-20">
                                    <button class="btn btn-block btn-lg btn-success" (click) ="onSubmit()" type="button">Log In</button>
                                </div>
                            </div>

                            <div class="form-group m-b-0 m-t-10">
                                <div class="col-sm-12 text-center">
                                    Don't have an account? <a href="#/register" class="text-info m-l-5"><b>Sign Up</b></a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div id="recoverform">
                <div class="logo">
                    <span class="db"><img src="assets/images/cldlogo.png" alt="logo" /></span>
                   <p></p>
                    <h5 class="font-medium m-b-20">Recover Password</h5>
                    <span>Enter your Email and instructions will be sent to you!</span>
                </div>
                <div class="row m-t-20">
                    <!-- Form -->
                    <form class="col-12" [formGroup]="userform2">
                        <!-- email -->
                        <div class="form-group row">
                            <div class="col-12">
                                <input class="form-control form-control-lg"  formControlName="Email2" type="email"  [ngClass]="{ 'is-invalid': submitted2 && Email2.errors }" required="" placeholder="E-mail">
                                <div *ngIf="submitted2 && Email2.errors" class="invalid-feedback">
                                  <div *ngIf="submitted2 && Email2.errors.required">Email is required</div>
                                  <div *ngIf="submitted2 && Email2.errors.email">Email must be a valid email address</div>
                                </div>

                              </div>
                        </div>
                        <!-- pwd -->
                        <div class="row m-t-20">
                            <div class="col-12">
                                <button class="btn btn-block btn-lg btn-danger"  (click) ="onSubmit3()" type="button" name="action">Get Password</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

  </div>
